/**
* Collapse styles - Nordic Cool 3.0
*/
/* effects */
.collapsing {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.panel-group {
  border-width: 1px;
  border-style: solid;
  border-color: #dedede #dedede #d3d3d3;
  background: #fff;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  /* /.panel */
}
.panel-group > .panel {
  margin: 0 !important;
  padding: 0 0 0px 0;
  border-width: 0;
  background: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  /* /.panel-heading */
  /* /.panel-collapse .panel-body */
}
.panel-group > .panel:first-child > .panel-heading > .panel-title > a:first-child {
  border-top: 0px;
}
.panel-group > .panel > .panel-heading {
  padding: 0;
  border: 0px;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /* /.panel-title */
}
.panel-group > .panel > .panel-heading > .panel-title {
  position: relative;
  color: #0974b3;
  font-size: 16px;
  /*  /a:first-child */
}
.panel-group > .panel > .panel-heading > .panel-title:hover {
  -webkit-box-shadow: 0 1px 0 #bfe7ff;
  -moz-box-shadow: 0 1px 0 #bfe7ff;
  box-shadow: 0 1px 0 #bfe7ff;
}
.panel-group > .panel > .panel-heading > .panel-title > a:first-child {
  display: block;
  position: relative;
  margin: 0 20px;
  padding: 12px 0px;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #e6e6e6 transparent transparent;
  line-height: 130%;
  text-decoration: none;
}
.panel-group > .panel > .panel-heading > .panel-title > a:first-child > .caret {
  display: inline-block;
  position: relative;
  top: 2px;
  right: -12px;
  width: 10px;
  height: 9px;
  background: url(../img/arrow-small.svg);
  background-size: 33px 6px;
  background-position: -12px 0px;
  background-repeat: no-repeat;
}
.panel-group > .panel > .panel-heading > .panel-title > a:first-child:hover {
  background: #CCEBFF;
  position: relative;
  margin: 0;
  padding: 12px 20px;
  z-index: 999;
  border-top-color: #ccebff;
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #ccebff;
  -moz-box-shadow: 0 1px 0 #ccebff;
  box-shadow: 0 1px 0 #ccebff;
}
.panel-group > .panel > .panel-heading > .panel-title > a:first-child:focus {
  outline: none;
}
.panel-group > .panel > .panel-heading > .panel-title > a.collapsed > .caret {
  top: 0px;
  background-position: -11px 1px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.panel-group > .panel > .panel-collapse .panel-body {
  padding: 0px;
  border: 0px;
  /* /.panel */
}
.panel-group > .panel > .panel-collapse .panel-body > .panel {
  margin: 0px 0 0 !important;
  border: 0px;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /* /.panel-heading */
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading {
  padding: 0;
  border: 0;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /* /.panel-title */
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title {
  color: #282828;
  font-size: 14px;
  /* /a:first-child */
  /* /a.collapsed */
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a:first-child {
  display: block;
  position: relative;
  margin: 0;
  margin-left: -1px;
  padding: 10px 15px 8px 35px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #dcdcdc;
  background: #fafafa;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13) inset;
  font-weight: normal;
  text-decoration: none;
  /* Chrome and safari */
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a:first-child:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 6px;
  height: 106%;
  border-style: solid;
  border-width: 0 0 0 7px;
  border-color: #4d8400;
  z-index: 9;
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a:first-child:hover {
  background: #CCEBFF;
  border-bottom: 1px solid #ccebff;
  color: #282828;
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a:first-child > .caret {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 20px;
  width: 10px;
  height: 7px;
  margin: 0;
  background: url(../img/arrow-small.svg);
  background-size: 33px 6px;
  background-position: -23px 0px;
  background-repeat: no-repeat;
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a:first-child:focus {
  outline: none;
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a:first-child + .anchorjs-link {
  cursor: default;
  pointer-event: none;
  position: relative;
  left: 49.5%;
  bottom: 0;
  outline: none;
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a:first-child + .anchorjs-link:before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0;
  height: 0;
  border-width: 8.5px 7px 0;
  border-style: solid;
  border-color: #fafafa transparent transparent;
  z-index: 2;
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a:first-child + .anchorjs-link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -2px;
  border-width: 9px 7px 0;
  border-style: solid;
  border-color: #c8c8c8 transparent transparent;
  z-index: 1;
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a:first-child:hover + .anchorjs-link:before {
  border-color: #ddf2ff transparent transparent;
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a:first-child:hover + .anchorjs-link:after {
  bottom: -3px;
  border-color: #ccebff transparent transparent;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a:first-child + .anchorjs-link {
    bottom: -6px;
  }
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a.collapsed {
  color: #282828;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left: 0;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a.collapsed:before,
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a.collapsed:after {
  display: none;
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a.collapsed > .caret {
  top: 14px;
  background: url(../img/arrow-small.svg);
  background-size: 33px 6px;
  background-position: -24px 0px;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a.collapsed:hover {
  background: #CCEBFF;
}
.panel-group > .panel > .panel-collapse .panel-body > .panel > .panel-heading > .panel-title > a.collapsed + .anchorjs-link {
  display: none;
}
.panel-group > .panel > .panel-collapse .panel-body > .panel .panel-body {
  position: relative;
  padding: 15px 35px 10px;
  background: #fafafa;
  -webkit-box-shadow: 0 -1px 0 #dcdcdc inset;
  -moz-box-shadow: 0 -1px 0 #dcdcdc inset;
  box-shadow: 0 -1px 0 #dcdcdc inset;
}
.panel-group > .panel > .panel-collapse .panel-body > .panel .panel-body:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 6px;
  height: 100%;
  border-color: #4d8400;
  border-style: solid;
  border-width: 0 0 0 6px;
  z-index: 9;
}
.panel-group > .panel .panel-collapse.collapsing {
  overflow-x: hidden;
  overflow-y: visible;
  /*overflow-y:  hidden; */
}
.panel-group > .panel .panel-collapse.in {
  overflow-x: visible;
  overflow-y: hidden;
}
/* /.panel-group */
.panel-group.list-group {
  border-width: 1px;
  border-style: solid;
  border-color: #dedede #dedede #d3d3d3;
  background: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  /* .panel-collapse > .list-group */
}
.panel-group.list-group .list-group-item.list-group-title {
  border-width: 1px;
  border-style: solid;
  border-color: #4f8800 #487b00 #346c00;
  color: #fff;
  background: #569400;
  background: -webkit-linear-gradient(top, #569400 0%, #487b00 100%);
  background: linear-gradient(to bottom, #569400 0%, #487b00 100%);
  min-height: 48px;
  margin: 0;
  padding: 8px 25px;
  line-height: 130%;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.panel-group.list-group .list-group-item.list-group-title + .panel > .panel-heading > .panel-title > a:first-child {
  border-top-color: transparent;
}
.panel-group.list-group > .panel > .panel-heading > .panel-title {
  color: #282828;
  font-size: 14px;
  font-weight: normal;
}
.panel-group.list-group > .panel > .panel-heading > .panel-title:hover {
  color: #282828;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel-group.list-group > .panel > .panel-heading > .panel-title > a:first-child {
  padding: 13px 0;
  margin: 0 15px;
}
.panel-group.list-group > .panel > .panel-heading > .panel-title > a:first-child:hover {
  color: #282828;
  margin: 0 0px;
  padding-left: 15px;
  padding-right: 15px;
  border-color: #ccebff transparent transparent;
  background: #CCEBFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel-group.list-group > .panel > .panel-heading > .panel-title > a:first-child:hover .badge {
  right: 15px;
}
.panel-group.list-group > .panel > .panel-heading > .panel-title > a:first-child > .caret {
  right: 0;
  margin: 0 5px 0 0;
}
.panel-group.list-group > .panel > .panel-heading > .panel-title > a:first-child:focus {
  background: #f0f0f0;
  box-shadow: 0 1px 0 #e2e2e2;
  border-color: #e2e2e2 transparent transparent;
  color: #282828;
  margin-left: 0;
  margin-right: 0;
  padding-right: 15px;
  padding-left: 15px;
}
.panel-group.list-group > .panel > .panel-heading > .panel-title > a:first-child:focus > .badge {
  right: 15px;
}
.panel-group.list-group .panel-default > .panel-heading a > .badge {
  position: absolute;
  top: 13px;
  right: 0;
  color: #737373;
  background: transparent;
}
.panel-group.list-group .panel-collapse > .list-group {
  margin: 0px 0 8px;
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /* .list-group-item */
}
.panel-group.list-group .panel-collapse > .list-group > .list-group-item {
  padding: 13px 10px 13px 35px;
  border: 0;
  min-height: 1%;
}
.panel-group.list-group .panel-collapse > .list-group > .list-group-item:hover {
  cursor: pointer;
  color: #282828;
  background: #CCEBFF;
  margin-left: 0;
  margin-right: 0;
  padding-left: 50px;
  padding-right: 25px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel-group.list-group .panel-collapse > .list-group > .list-group-item > .badge {
  float: none;
  position: relative;
  top: -3px;
  min-width: auto;
  height: auto;
  padding: 0 0 0 6px;
  border: 0 none;
  color: #737373;
  background: transparent none repeat scroll 0 0;
}
  .panel-group.list-group .panel-collapse > .list-group > .list-group-item:focus,
  .panel-group.list-group .panel-collapse > .list-group > .list-group-item:active {
  background: #f0f0f0;
  box-shadow: 0 1px 0 #e2e2e2;
  border-color: #e2e2e2 transparent transparent;
  color: #282828;
  margin-left: 0;
  margin-right: 0;
  padding-left: 50px;
  padding-right: 25px;
}
/* .panel-group.list-group */
.panel-group.list-group .panel + .panel {
  margin-top: -1px !important;
}
