/**
 * Modal styles - Nordic Cool 3.0
*/
.modal {
  z-index: 9995;
}
.modal a {
  line-height: 21px;
}
.modal-content {
  border: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.modal-header {
  min-height: 48px;
  padding: 13px 20px 10px;
  border-bottom: 1px solid #e0e0e0;
  background: #f7f7f7;
  -webkit-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
  -moz-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
  box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
}
.modal-header .close {
  margin-top: 6px;
}
.modal-title {
  font-size: 16px;
  color: #282828;
}
.modal-title h1,
.modal-title h2,
.modal-title h3,
.modal-title h4,
.modal-title h5,
.modal-title h6,
.modal-title p {
  margin-bottom: 0;
}
h1.modal-title,
h2.modal-title,
h3.modal-title,
h4.modal-title,
h5.modal-title,
h6.modal-title,
p.modal-title {
  margin-bottom: 0;
}
.modal-body {
  min-height: 55px;
  margin: 18px 0px 20px;
  padding: 0 20px;
}
.modal-body h4 {
  margin-bottom: 5px;
  color: #323232;
  font-size: 14px;
}
.modal-body p {
  margin-bottom: 3px;
}
.modal-body p.text-disabled {
  color: #787878;
}
.modal-body .form-group {
  margin-bottom: 6px;
}
.modal-body .form-group textarea {
  min-height: 95px;
}
.modal-help .modal-body,
.modal-info .modal-body,
.modal-error .modal-body,
.modal-warning .modal-body {
  margin: 25px 0px 25px 20px;
  padding: 0 20px 0 70px;
}
.modal-help .modal-body:before,
.modal-info .modal-body:before,
.modal-error .modal-body:before,
.modal-warning .modal-body:before,
.modal-success .modal-body:before {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  background-image: url(../img/vismaicons/informative-filled-icons/50_informative_icons.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}
.modal-help .modal-body:before {
  background-position: -220px 0;
}
.modal-info .modal-body:before {
  background-position: -165px 0;
}
.modal-error .modal-body:before {
  background-position: -55px 0;
}
.modal-warning .modal-body:before {
  background-position: -110px 0;
}
.modal-success .modal-body:before {
  background-position: 0px 0;
}
.modal-footer {
  padding: 11px 20px;
  border-top: 1px solid #e5e5e5;
  text-align: right;
}
.modal-footer .btn {
  margin-bottom: 0px;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 1px;
}
.fade {
  opacity: 0;
  -webkit-transition-delay: 0.05s;
  -moz-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.05s;
  -moz-transition-duration: 0.05s;
  transition-duration: 0.05s;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0px, -1%);
  -moz-transform: translate(0px, -1%);
  -ms-transform: translate(0px, -1%);
  -o-transform: translate(0px, -1%);
  transform: translate(0px, -1%);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.modal-backdrop.in {
  opacity: 0.51;
}
.modal-backdrop {
  z-index: 9990;
}
.modal .btn:not(.btn-lg) + .popover {
  margin-top: 28px;
}
.modal .btn.btn-lg + .popover {
  margin-top: 28px;
}
.ie11 .modal .btn.btn-primary,
.ie10 .modal .btn.btn-primary {
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15), inset 0px -1px 0px #477a00, inset 1px 0px 0px #4e8700, inset -1px 0px 0px #4e8700;
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15), inset 0px -1px 0px #477a00, inset 1px 0px 0px #4e8700, inset -1px 0px 0px #4e8700;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15), inset 0px -1px 0px #477a00, inset 1px 0px 0px #4e8700, inset -1px 0px 0px #4e8700;
}
.ie11 .modal .btn.btn-primary:hover,
.ie10 .modal .btn.btn-primary:hover {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0px -1px 0px #4f8700, inset 1px 0px 0px #548f00, inset -1px 0px 0px #548f00;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0px -1px 0px #4f8700, inset 1px 0px 0px #548f00, inset -1px 0px 0px #548f00;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0px -1px 0px #4f8700, inset 1px 0px 0px #548f00, inset -1px 0px 0px #548f00;
}
.ie11 .modal .btn.btn-primary:active,
.ie10 .modal .btn.btn-primary:active {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0px -1px 0px #497d00, inset 1px 0px 0px #447500, inset -1px 0px 0px #447500 !important;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0px -1px 0px #497d00, inset 1px 0px 0px #447500, inset -1px 0px 0px #447500 !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0px -1px 0px #497d00, inset 1px 0px 0px #447500, inset -1px 0px 0px #447500 !important;
}
@media (min-width: 500px) {
  .modal-sm {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .modal-sm {
    width: 90%;
  }
}
