/**
 * Tables - Nordic Cool 3.0
*/
.table {
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  border-collapse: separate;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.table > tbody {
  background-color: #f7f7f7;
}
.table > tbody > tr:nth-child(2n+1) > td,
.table > tbody > tr:nth-child(2n+1) > th {
  background-color: #ffffff;
}
.table > thead > tr > th,
.table > thead > tr > td {
  padding: 11px 10px 10px;
}
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 10px 10px 9px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
  font-weight: normal;
  line-height: 120%;
  vertical-align: middle;
}
.table > thead > tr > th,
.table > tfoot > tr > th {
  border-bottom: 1px solid #d6d6d6;
}
.table > tbody > tr > th {
  border-top: 0px;
  border-bottom: 0px;
}
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 0px;
  border-bottom: 0px;
  line-height: 120%;
  vertical-align: middle;
}
.table > thead > tr {
  background: #fcfcfc;
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #f3f3f3 75%, #f9f9f9 100%);
  background: linear-gradient(to bottom, #fcfcfc 0%, #f3f3f3 75%, #f9f9f9 100%);
}
.table > thead > tr > th {
  border-left: 1px solid #e7e7e7;
  color: #0974b3;
  font-weight: normal;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  border-left: 1px dotted #d0d0d0;
}
.table > thead > tr > th:first-child,
.table > thead > tr > td:first-child,
.table > tbody > tr > th:first-child,
.table > tbody > tr > td:first-child,
.table > tfoot > tr > th:first-child,
.table > tfoot > tr > td:first-child {
  border-left: 0px;
}
.table > tbody > tr:first-child > td,
.table > tbody > tr:first-child > th {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) inset;
}
/* hover state */
.table.table-hover > tbody > tr:hover > td,
.table.table-hover > tbody > tr:hover > th,
.table.table-hover > tfoot > tr:hover > td,
.table.table-hover > tfoot > tr:hover > th,
.table.table-sorter > tbody > tr:hover > td,
.table.table-sorter > tbody > tr:hover > th,
.table.table-sorter > tfoot > tr:hover > td,
.table.table-sorter > tfoot > tr:hover > th {
  cursor: pointer;
  background: #ccebff;
}
.table.table-hover > thead > tr > td:hover,
.table.table-active > thead > tr > td:hover,
.table.table-sorter > thead > tr > td:hover,
.table.table-sorter > thead > tr > th:hover {
  cursor: pointer;
  background: #e8f6ff;
  background: -webkit-linear-gradient(top, #e8f6ff 10%, #dae7ef 75%);
  background: linear-gradient(to bottom, #e8f6ff 10%, #dae7ef 75%);
  -webkit-box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5) inset, 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5) inset, 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5) inset, 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
}
/* active state */
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th,
.table.table-active > tbody > tr.active > td,
.table.table-active > tbody > tr.active > th,
.table.table-active > tfoot > tr.active > td,
.table.table-active > tfoot > tr.active > th,
.table.table-sorter > tbody > tr.active > td,
.table.table-sorter > tbody > tr.active > th,
.table.table-sorter > tfoot > tr.active > td,
.table.table-sorter > tfoot > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table.table-active > tbody > tr.pressed > td,
.table.table-active > tbody > tr.pressed > th,
.table.table-active > tfoot > tr.pressed > td,
.table.table-active > tfoot > tr.pressed > th,
.table.table-sorter > tbody > tr.pressed > td,
.table.table-sorter > tbody > tr.pressed > th,
.table.table-sorter > tfoot > tr.pressed > td,
.table.table-sorter > tfoot > tr.pressed > th {
  background: #f0f0f0;
  -webkit-box-shadow: 0px 1px 0 #e2e2e2 inset, 0px -1px 0 #e2e2e2 inset;
  -moz-box-shadow: 0px 1px 0 #e2e2e2 inset, 0px -1px 0 #e2e2e2 inset;
  box-shadow: 0px 1px 0 #e2e2e2 inset, 0px -1px 0 #e2e2e2 inset;
}
.table > tbody > tr.active:last-child > td,
.table > tbody > tr.active:last-child > th,
.table > tfoot > tr.active:last-child > td,
.table > tfoot > tr.active:last-child > th,
.table.table-active > tbody > tr.active:last-child > td,
.table.table-active > tbody > tr.active:last-child > th,
.table.table-active > tfoot > tr.active:last-child > td,
.table.table-active > tfoot > tr.active:last-child > th,
.table.table-sorter > tbody > tr.active:last-child > td,
.table.table-sorter > tbody > tr.active:last-child > th,
.table.table-sorter > tfoot > tr.active:last-child > td,
.table.table-sorter > tfoot > tr.active:last-child > th,
.table > tbody > tr:last-child > td.active,
.table > tbody > tr:last-child > th.active,
.table > tfoot > tr:last-child > td.active,
.table > tfoot > tr:last-child > th.active {
  -webkit-box-shadow: 0 1px 0 #d4d4d4 inset;
  -moz-box-shadow: 0 1px 0 #d4d4d4 inset;
  box-shadow: 0 1px 0 #d4d4d4 inset;
}
.table:not(.table-grey) > tbody > tr.active,
.table:not(.table-grey) > tfoot > tr.active,
.table.table-active:not(.table-grey) > tbody > tr.active,
.table.table-active:not(.table-grey) > tfoot > tr.active,
.table.table-sorter:not(.table-grey) > tbody > tr.active,
.table.table-sorter:not(.table-grey) > tfoot > tr.active {
  position: relative;
}
.table:not(.table-grey) > tbody > tr.active > th:first-child:before,
.table:not(.table-grey) > tfoot > tr.active > th:first-child:before,
.table.table-active:not(.table-grey) > tbody > tr.active > th:first-child:before,
.table.table-active:not(.table-grey) > tfoot > tr.active > th:first-child:before,
.table.table-sorter:not(.table-grey) > tbody > tr.active > th:first-child:before,
.table.table-sorter:not(.table-grey) > tfoot > tr.active > th:first-child:before,
.table:not(.table-grey) > tbody > tr.active > td:first-child:before,
.table:not(.table-grey) > tfoot > tr.active > td:first-child:before,
.table.table-active:not(.table-grey) > tbody > tr.active > td:first-child:before,
.table.table-active:not(.table-grey) > tfoot > tr.active > td:first-child:before,
.table.table-sorter:not(.table-grey) > tbody > tr.active > td:first-child:before,
.table.table-sorter:not(.table-grey) > tfoot > tr.active > td:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 6px;
  height: 100%;
  background: #4d8400;
}
.table:not(.table-grey) > tbody > tr.active > th:first-child,
.table:not(.table-grey) > tfoot > tr.active > th:first-child,
.table.table-active:not(.table-grey) > tbody > tr.active > th:first-child,
.table.table-active:not(.table-grey) > tfoot > tr.active > th:first-child,
.table.table-sorter:not(.table-grey) > tbody > tr.active > th:first-child,
.table.table-sorter:not(.table-grey) > tfoot > tr.active > th:first-child,
.table:not(.table-grey) > tbody > tr.active > td:first-child,
.table:not(.table-grey) > tfoot > tr.active > td:first-child,
.table.table-active:not(.table-grey) > tbody > tr.active > td:first-child,
.table.table-active:not(.table-grey) > tfoot > tr.active > td:first-child,
.table.table-sorter:not(.table-grey) > tbody > tr.active > td:first-child,
.table.table-sorter:not(.table-grey) > tfoot > tr.active > td:first-child {
  position: relative;
}
.table:not(.table-grey) > tbody > tr > td.active,
.table:not(.table-grey) > tbody > tr > th.active,
.table:not(.table-grey) > tfoot > tr > td.active,
.table:not(.table-grey) > tfoot > tr > th.active,
.table.table-active:not(.table-grey) > tbody > tr > td.active,
.table.table-active:not(.table-grey) > tbody > tr > th.active,
.table.table-active:not(.table-grey) > tfoot > tr > td.active,
.table.table-active:not(.table-grey) > tfoot > tr > th.active,
.table.table-sorter:not(.table-grey) > tbody > tr > td.active,
.table.table-sorter:not(.table-grey) > tbody > tr > th.active,
.table.table-sorter:not(.table-grey) > tfoot > tr > td.active,
.table.table-sorter:not(.table-grey) > tfoot > tr > th.active,
.table.table-active:not(.table-grey) > tbody > tr:active > td:first-child,
.table.table-active:not(.table-grey) > tbody > tr:active > th:first-child,
.table.table-active:not(.table-grey) > tfoot > tr:active > td:first-child,
.table.table-active:not(.table-grey) > tfoot > tr:active > th:first-child,
.table.table-sorter:not(.table-grey) > tbody > tr:active > td:first-child,
.table.table-sorter:not(.table-grey) > tbody > tr:active > th:first-child,
.table.table-sorter:not(.table-grey) > tfoot > tr:active > td:first-child,
.table.table-sorter:not(.table-grey) > tfoot > tr:active > th:first-child {
  position: relative;
}
.table:not(.table-grey) > tbody > tr > td.active:before,
.table:not(.table-grey) > tbody > tr > th.active:before,
.table:not(.table-grey) > tfoot > tr > td.active:before,
.table:not(.table-grey) > tfoot > tr > th.active:before,
.table.table-active:not(.table-grey) > tbody > tr > td.active:before,
.table.table-active:not(.table-grey) > tbody > tr > th.active:before,
.table.table-active:not(.table-grey) > tfoot > tr > td.active:before,
.table.table-active:not(.table-grey) > tfoot > tr > th.active:before,
.table.table-sorter:not(.table-grey) > tbody > tr > td.active:before,
.table.table-sorter:not(.table-grey) > tbody > tr > th.active:before,
.table.table-sorter:not(.table-grey) > tfoot > tr > td.active:before,
.table.table-sorter:not(.table-grey) > tfoot > tr > th.active:before,
.table.table-active:not(.table-grey) > tbody > tr:active > td:first-child:before,
.table.table-active:not(.table-grey) > tbody > tr:active > th:first-child:before,
.table.table-active:not(.table-grey) > tfoot > tr:active > td:first-child:before,
.table.table-active:not(.table-grey) > tfoot > tr:active > th:first-child:before,
.table.table-sorter:not(.table-grey) > tbody > tr:active > td:first-child:before,
.table.table-sorter:not(.table-grey) > tbody > tr:active > th:first-child:before,
.table.table-sorter:not(.table-grey) > tfoot > tr:active > td:first-child:before,
.table.table-sorter:not(.table-grey) > tfoot > tr:active > th:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 6px;
  height: 100%;
  background: #4d8400;
}
.table.table-active > tbody > tr.pressed:last-child > td,
.table.table-active > tbody > tr.pressed:last-child > th,
.table.table-active > tfoot > tr.pressed:last-child > td,
.table.table-active > tfoot > tr.pressed:last-child > th,
.table.table-sorter > tbody > tr.pressed:last-child > td,
.table.table-sorter > tbody > tr.pressed:last-child > th,
.table.table-sorter > tfoot > tr.pressed:last-child > td,
.table.table-sorter > tfoot > tr.pressed:last-child > th {
  -webkit-box-shadow: 0px 1px 0 #e2e2e2 inset;
  -moz-box-shadow: 0px 1px 0 #e2e2e2 inset;
  box-shadow: 0px 1px 0 #e2e2e2 inset;
}
.table:not(.table-grey) > tbody > tr.pressed,
.table:not(.table-grey) > tfoot > tr.pressed,
.table.table-active:not(.table-grey) > tbody > tr.pressed,
.table.table-active:not(.table-grey) > tfoot > tr.pressed,
.table.table-sorter:not(.table-grey) > tbody > tr.pressed,
.table.table-sorter:not(.table-grey) > tfoot > tr.pressed {
  position: relative;
  left: 0;
  /*> th:first-child:before,
	> td:first-child:before {
		background: #4d8400;
		content: "";
		height: 100%;
		left: -1px;
		position: absolute;
		top: 0;
		width: 6px;
		} */
}
.table > tbody > tr.active:hover > td,
.table > tbody > tr.active:hover > th,
.table > tfoot > tr.active:hover > td,
.table > tfoot > tr.active:hover > th,
.table.table-active > tbody > tr.active:hover > td,
.table.table-active > tbody > tr.active:hover > th,
.table.table-active > tfoot > tr.active:hover > td,
.table.table-active > tfoot > tr.active:hover > th,
.table.table-sorter > tbody > tr.active:hover > td,
.table.table-sorter > tbody > tr.active:hover > th,
.table.table-sorter > tfoot > tr.active:hover > td,
.table.table-sorter > tfoot > tr.active:hover > th,
.table > tbody > tr:hover > td.active,
.table > tbody > tr:hover > th.active,
.table > tfoot > tr:hover > td.active,
.table > tfoot > tr:hover > th.active {
  cursor: pointer;
}
.table.table-active > thead > tr > td.pressed,
.table.table-sorter > thead > tr > td.pressed,
.table.table-sorter > thead > tr > th.pressed,
.table.table-active > thead > tr > td.pressed:hover,
.table.table-sorter > thead > tr > td.pressed:hover,
.table.table-sorter > thead > tr > th.pressed:hover {
  background: #f0f0f0;
  color: #282828;
}
/* Grey table */
.table.table-grey {
  border-color: #d3d3d3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.table.table-grey tbody {
  background: #f0f0f0;
}
.table.table-grey > tbody > tr:nth-child(2n+1) > td,
.table.table-grey > tbody > tr:nth-child(2n+1) > th {
  background-color: #f5f5f5;
}
.table.table-grey > thead > tr > th,
.table.table-grey.table-hover > thead > tr > td:hover,
.table.table-grey.table-hover > thead > tr > th:hover,
.table.table-grey.table-sorter > thead > tr > td:hover,
.table.table-grey.table-sorter > thead > tr > th:hover,
.table.table-grey.table-active > thead > tr > td.active,
.table.table-grey.table-active > thead > tr > th.active {
  color: #1b7bb3;
  background: #f5f5f5;
}
.table.table-grey > tbody > tr:first-child > td,
.table.table-grey > tbody > tr:first-child > th {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* hover state */
.table.table-grey.table-hover > tbody > tr:hover > th,
.table.table-grey.table-hover > tbody > tr:hover > td,
.table.table-grey.table-hover > tfoot > tr:hover > th,
.table.table-grey.table-hover > tfoot > tr:hover > td,
.table.table-grey.table-sorter > tbody > tr:hover > th,
.table.table-grey.table-sorter > tbody > tr:hover > td,
.table.table-grey.table-sorter > tfoot > tr:hover > th,
.table.table-grey.table-sorter > tfoot > tr:hover > td {
  background-color: #ccebff;
}
.table.table-grey.table-hover > thead > tr > td:hover,
.table.table-grey.table-sorter > thead > tr > th:hover,
.table.table-grey.table-sorter > thead > tr > td:hover {
  cursor: pointer;
  background: #e8f6ff;
  background: -webkit-linear-gradient(top, #e8f6ff 10%, #dae7ef 75%);
  background: linear-gradient(to bottom, #e8f6ff 10%, #dae7ef 75%);
  -webkit-box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5) inset, 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5) inset, 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5) inset, 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
}
/* active state */
.table.table-grey > tbody > tr.active > td,
.table.table-grey > tbody > tr.active > th,
.table.table-grey > tfoot > tr.active > td,
.table.table-grey > tfoot > tr.active > th,
.table.table-grey > tbody > tr.active:hover > td,
.table.table-grey > tbody > tr.active:hover > th,
.table.table-grey > tfoot > tr.active:hover > td,
.table.table-grey > tfoot > tr.active:hover > th,
.table.table-grey.table-active > tbody > tr.active > td,
.table.table-grey.table-active > tbody > tr.active > th,
.table.table-grey.table-active > tfoot > tr.active > td,
.table.table-grey.table-active > tfoot > tr.active > th,
.table.table-grey.table-active > tbody > tr.active:hover > td,
.table.table-grey.table-active > tbody > tr.active:hover > th,
.table.table-grey.table-active > tfoot > tr.active:hover > td,
.table.table-grey.table-active > tfoot > tr.active:hover > th,
.table.table-grey > tbody > tr > td.active,
.table.table-grey > tbody > tr > th.active,
.table.table-grey > tfoot > tr > td.active,
.table.table-grey > tfoot > tr > th.active,
.table.table-grey > tbody > tr:hover > td.active,
.table.table-grey > tbody > tr:hover > th.active,
.table.table-grey > tfoot > tr:hover > td.active,
.table.table-grey > tfoot > tr:hover > th.active,
.table.table-grey.table-sorter > tbody > tr.pressed > td,
.table.table-grey.table-sorter > tbody > tr.pressed > th,
.table.table-grey.table-sorter > tfoot > tr.pressed > td,
.table.table-grey.table-sorter > tfoot > tr.pressed > th,
.table.table-grey.table-active > tbody > tr.pressed > td,
.table.table-grey.table-active > tbody > tr.pressed > th,
.table.table-grey.table-active > tfoot > tr.pressed > td,
.table.table-grey.table-active > tfoot > tr.pressed > th {
  border-right: 1px solid #0974b3;
  border-left: 0px;
  color: #fff;
  background: #0974b3;
  -webkit-box-shadow: -1px 0 #0974b3;
  -moz-box-shadow: -1px 0 #0974b3;
  box-shadow: -1px 0 #0974b3;
}
.table.table-grey.table-active > thead > tr > td.pressed,
.table.table-grey > thead > tr > td.pressed {
  background: #e0e0e0;
  color: #282828;
}
/* Disabled table */
.table.disabled {
  border-color: #d0d0d0;
}
.table.disabled > tbody {
  background: #f5f5f5;
}
.table.disabled > tbody > tr:nth-child(2n+1) > td,
.table.disabled > tbody > tr:nth-child(2n+1) > th {
  background: transparent;
}
.table.disabled > tbody > tr:not(:last-child) > th,
.table.disabled > tbody > tr:not(:last-child) > td,
.table.disabled > tfoot > tr:not(:last-child) > th,
.table.disabled > tfoot > tr:not(:last-child) > td {
  border-bottom: 1px solid #d0d0d0;
}
.table.disabled > tbody > tr > th,
.table.disabled > tbody > tr > td,
.table.disabled > tfoot > tr > th,
.table.disabled > tfoot > tr > td {
  color: #a0a0a0;
}
/* Condensed table */
.table.table-condensed > thead > tr > th,
.table.table-condensed > tbody > tr > th,
.table.table-condensed > tfoot > tr > th {
  padding: 7px 5px 6px;
  line-height: 100%;
}
.table.table-condensed > thead > tr > td,
.table.table-condensed > tbody > tr > td,
.table.table-condensed > tfoot > tr > td {
  padding: 7px 5px 6px;
  line-height: 100%;
}
