/*
 * Typography - Nordic Cool 3.0
 */
ul li,
ol li {
  line-height: 145%;
}
ol {
  padding-left: 15px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari and Chrome */
  ol {
    padding-left: 20px;
  }
}
p,
span {
  line-height: 145%;
}
a {
  cursor: pointer;
  color: #0974b3;
  text-decoration: underline;
}
a:hover {
  color: #0974b3;
  text-decoration: none;
}
a:focus {
  color: #0974b3;
  outline: 1px solid #0089d9;
  outline-offset: 1px;
}
body,
label,
button {
  margin: 0px;
  color: #282828;
  font-size: 14px;
  font-weight: normal;
  line-height: 145%;
}
b,
strong {
  font-weight: bold;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 145%;
}
h1,
.h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 200;
}
h1.heading-primary,
.h1.heading-primary {
  color: #0974b3;
}
h2,
.h2 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 22px;
  font-weight: 200;
  border-bottom: 1px solid #dcdcdc;
}
h2.heading-primary,
.h2.heading-primary {
  color: #0974b3;
}
h3,
.h3 {
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 1px;
  font-size: 16px;
  font-weight: regular;
  border-bottom: 1px solid #dcdcdc;
}
h3.heading-primary,
.h3.heading-primary {
  padding-bottom: 0;
  border: 0;
  color: #0974b3;
  font-weight: 200;
}
h4,
.h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: regular;
}
h4.heading-primary,
.h4.heading-primary {
  color: #0974b3;
}
h5,
.h5 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}
h5.heading-primary,
.h5.heading-primary {
  color: #0974b3;
}
h6,
.h6 {
  font-weight: normal;
}
h6.heading-primary,
.h6.heading-primary {
  color: #0974b3;
}
h3 small,
.h3 small,
h3 .small,
.h3 .small {
  font-size: 75%;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small {
  font-weight: 200;
}
h4.text-disabled,
h4.text-primary,
h4.text-error,
h4.text-default,
h3.text-disabled,
h3.text-primary,
h3.text-error,
h3.text-default,
h2.text-disabled,
h2.text-primary,
h2.text-error,
h2.text-default,
h1.text-disabled,
h1.text-primary,
h1.text-error,
h1.text-default {
  margin-bottom: 15px;
  font-weight: 200;
}
hr {
  display: block;
  clear: both;
  margin-top: 5px;
  margin-bottom: 10px;
  border-top: 0px;
  border-bottom: 1px solid #dcdcdc;
}
hr.hr-default {
  border-color: #dcdcdc;
}
hr.hr-primary {
  border-color: #0974b3;
}
hr.hr-disabled {
  border-color: #a0a0a0;
}
hr.hr-error {
  border-color: #C72828;
}
code {
  padding: 1px 4px;
  font-size: 100%;
}
.lead {
  font-weight: 200;
  font-size: 18px;
}
/* text direction */
.right-direction {
  direction: rtl;
}
.left-direction {
  direction: ltr;
}
/* Page header */
.page-header {
  padding-bottom: 4px;
  border-bottom-color: #dcdcdc;
}
.page-header h1 {
  margin: 0;
}
