<div th:hidden="${!auction.allowToBidForQuantity}">
    <b th:text="#{auction.view.enterQuantity}"></b>
    <div class="form-group">
        <div class="col-sm-4">
            <input type="number" id="biddingQuantity"
                   name="biddingQuantity" value="1" th:errorclass="field-error"/>
        </div>
    </div>
</div>