<div class="form-group">
    <div class="col-sm-4">
        <div th:if="${#fields.hasErrors('biddingQuantity')}"
             class="error-message" th:errors="*{biddingQuantity}"></div>
        <div class="g-recaptcha"
             th:attr="data-sitekey=${@environment.getProperty('recaptcha.data-sitekey')}"></div>
        <div th:if="${#fields.hasErrors('global')}"
             class="error-message" th:errors="*{global}"></div>
    </div>
</div>