<div class="bids">
    <b style="font-size:200%;" th:if="${!auctionStarted}">Auction have not started yet</b>
    <br/>
    <br/>
    <b th:text="'[' + ${amountOfBids} + ' ' + #{auction.view.bids} +']'" id="amount-of-bids"></b>
    <br/>
    <span th:text="#{auction.view.currentBid} + ' '" class="view-auction-bid-information-highest-bid"></span>
    <strong th:text="${highestBid == null ? '0' : highestBid}" id="highest-bid"
            class="view-auction-bid-information-highest-bid"></strong>
    <strong th:text="' (' + ${auction.currency.toString().equals('EUR') ? '€' : auction.currency } +')'"
            class="view-auction-bid-information-currency"></strong>
    <br/>
    <div>
        <span th:text="${highestBidder != null ? ('Highest bidder: ' + highestBidder.name + ' ' + highestBidder.surname) : ''}"
              id="highest-bidder-information" class="view-auction-bid-information-highest-bidder"></span>
    </div>
    <span th:text="${highestUserBid}" id="highest-user-bid"></span> <br/>
</div>