<div class="col-sm-4">
    <input style="display: none" type="number"
           th:field="*{auctionId}" th:errorclass="field-error"/> <input
        style="display: none" type="number" th:field="*{userId}"
        th:errorclass="field-error"/> <input type="number"
                                             th:step="${auction.isAnonymous ? '0.1' : auctionBidContext.step}"
                                             th:field="*{amount}"
                                             th:errorclass="field-error"/>
</div>