/*
 * Carousel - Nordic Cool 3.0
 */
.carousel-control {
    opacity: 1;
}

.carousel-control.right,
.carousel-control.left {
    background: transparent;
}

.carousel-control:hover {
    opacity: 1;
}

.carousel-control span.vismaicon {
    width: 38px;
    height: 38px;
    top: 44%;
    border-radius: 2px;
}

.carousel-control.right span.vismaicon {
    position: absolute;
    right: 0;
}

.carousel-control.left span.vismaicon {
    position: absolute;
    left: 15px;
}

.carousel-control .vismaicon-arrow-left-circle:before,
.carousel-control .vismaicon-arrow-right-circle:before {
    content: "";
    overflow: hidden;
    width: 38px;
    height: 38px;
    padding: 6px 10px;
    outline: 0 none;
    text-indent: -9999px;
}

.carousel-control .vismaicon-arrow-left-circle:before {
    background: transparent url(../img/pager-img.png) no-repeat scroll 4px 16px;
}

.carousel-control .vismaicon-arrow-right-circle:before {
    background: transparent url(../img/pager-img.png) no-repeat scroll -137px 16px;
}

.carousel-control:hover .vismaicon-arrow-left-circle:before {
    background-position: 4px -68px;
}

.carousel-control:hover .vismaicon-arrow-right-circle:before {
    background-position: -137px -68px;
}

.carousel-control:focus .vismaicon-arrow-left-circle:before {
    background-position: 4px 16px;
}

.carousel-control:focus .vismaicon-arrow-right-circle:before {
    background-position: -137px 16px;
}

.carousel-control:active .vismaicon-arrow-left-circle:before {
    background-position: 4px -110px;
}

.carousel-control:active .vismaicon-arrow-right-circle:before {
    background-position: -137px -110px;
}

/* /.carousel-control */
/* /Carousel */
