/*!
 * Bootstrap Docs (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter,  Inc.
 * Licensed under the Creative Commons Attribution 3.0 Unported License. For
 * details,  see http://creativecommons.org/licenses/by/3.0/.
 * New chnages added by Visma
 */
body {
  position: relative;
}
hr {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #fff;
}
.app-footer {
  text-align: center;
  font-size: 10px;
  padding: 10px;
}
.app-footer img {
  vertical-align: bottom;
  margin: 0 7px;
}
.bs-docs-grid {
  padding: 0 20px;
}
.bs-docs-home .app-footer {
  bottom: 0;
  margin: 10px 0 5px;
  position: absolute;
  width: 100%;
}
.bs-docs-home {
  min-height: 100vh;
}
.bs-masthead {
  min-height: 100%;
}
.bs-masthead > .container {
  padding-top: 70px;
  color: #fff;
}
.bs-masthead > .container a {
  color: #fff;
}
.bs-masthead > .container a.btn-default {
  color: #282828;
}
.bs-header {
  padding: 50px 10px;
  position: relative;
  overflow: hidden;
}
.bs-docs-table tbody {
  box-shadow: 0px -1px 0px #ccc inset;
}
.docs-content {
  padding-left: 30px;
}
h4 code,
.table code {
  font-size: 13px;
  font-weight: 400;
}
.btn-outline {
  color: #563d7c;
  background-color: transparent;
  border-color: #563d7c;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: #fff;
  background-color: #563d7c;
  border-color: #563d7c;
}
.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #cdbfe3;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: #563d7c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}
.bs-docs-booticon {
  display: block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  cursor: default;
  background-color: #563d7c;
  border-radius: 15%;
}
.bs-docs-booticon-sm {
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 28px;
}
.bs-docs-booticon-lg {
  width: 144px;
  height: 144px;
  font-size: 108px;
  line-height: 140px;
}
.bs-docs-booticon-inverse {
  color: #563d7c;
  background-color: #fff;
}
.bs-docs-booticon-outline {
  background-color: transparent;
  border: 1px solid #cdbfe3;
}
.bs-docs-nav {
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0;
}
.bs-home-nav .bs-nav-b {
  display: none;
}
.bs-docs-nav .navbar-nav > li > a:hover,
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
  color: #463265;
  background-color: #f9f9f9;
}
.bs-docs-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.bs-docs-footer-links {
  padding-left: 0;
  margin-top: 20px;
  color: #999;
}
.bs-docs-footer-links li {
  display: inline;
  padding: 0 2px;
}
.bs-docs-footer-links li:first-child {
  padding-left: 0;
}
@media (min-width: 768px) {
  .bs-docs-footer p {
    margin-bottom: 0;
  }
}
.bs-docs-social {
  margin-bottom: 20px;
  text-align: center;
}
.bs-docs-social-buttons {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
}
.bs-docs-social-buttons .twitter-follow-button {
  width: 225px!important;
}
.bs-docs-social-buttons .twitter-share-button {
  width: 98px!important;
}
.github-btn {
  overflow: hidden;
  border: 0;
}
.bs-docs-masthead,
.bs-docs-header {
  position: relative;
  padding: 30px 15px;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #6f5499;
  background-image: -webkit-linear-gradient(top, #563d7c 0, #6f5499 100%);
  background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;
}
.bs-docs-masthead .bs-docs-booticon {
  margin: 0 auto 30px;
}
.bs-docs-masthead h1 {
  font-weight: 300;
  line-height: 1;
  color: #fff;
}
.bs-docs-masthead .lead {
  margin: 0 auto 30px;
  font-size: 20px;
  color: #fff;
}
.bs-docs-masthead .version {
  margin-top: -15px;
  margin-bottom: 30px;
  color: #9783b9;
}
.bs-docs-masthead .btn {
  width: 100%;
  padding: 15px 30px;
  font-size: 20px;
}
@media (min-width: 480px) {
  .bs-docs-masthead .btn {
    width: auto;
  }
}
@media (min-width: 768px) {
  .bs-docs-masthead {
    padding: 80px 0;
  }
  .bs-docs-masthead h1 {
    font-size: 60px;
  }
  .bs-docs-masthead .lead {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .bs-docs-masthead .lead {
    width: 80%;
    font-size: 30px;
  }
}
.bs-docs-header {
  margin-bottom: 40px;
  font-size: 20px;
}
.bs-docs-header h1 {
  margin-top: 0;
  color: #fff;
}
.bs-docs-header p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}
.bs-docs-header .container {
  position: relative;
}
@media (min-width: 768px) {
  .bs-docs-header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
  }
  .bs-docs-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}
@media (min-width: 992px) {
  .bs-docs-header h1,
  .bs-docs-header p {
    margin-right: 380px;
  }
}
.carbonad {
  width: auto!important;
  height: auto!important;
  padding: 20px!important;
  margin: 30px -30px -31px !important;
  overflow: hidden;
  font-size: 13px!important;
  line-height: 16px!important;
  text-align: left;
  background: transparent!important;
  border: solid #866ab3!important;
  border-width: 1px 0!important;
}
.carbonad-img {
  margin: 0!important;
}
.carbonad-text,
.carbonad-tag {
  display: block!important;
  float: none!important;
  width: auto!important;
  height: auto!important;
  margin-left: 145px!important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.carbonad-text {
  padding-top: 0!important;
}
.carbonad-tag {
  color: inherit!important;
  text-align: left!important;
}
.carbonad-text a,
.carbonad-tag a {
  color: #fff!important;
}
.carbonad #azcarbon > img {
  display: none;
}
@media (min-width: 480px) {
  .carbonad {
    width: 330px!important;
    margin: 20px auto!important;
    border-width: 1px!important;
    border-radius: 4px;
  }
  .bs-docs-masthead .carbonad {
    margin: 50px auto 0!important;
  }
}
@media (min-width: 768px) {
  .carbonad {
    margin-right: 0!important;
    margin-left: 0!important;
  }
}
@media (min-width: 992px) {
  .carbonad {
    position: absolute;
    top: 0;
    right: 15px;
    width: 330px!important;
    padding: 15px!important;
    margin: 0!important;
  }
  .bs-docs-masthead .carbonad {
    position: static;
  }
}
.bs-docs-featurette {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.bs-docs-featurette + .bs-docs-footer {
  margin-top: 0;
  border-top: 0;
}
.bs-docs-featurette-title {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 400;
  color: #333;
}
.half-rule {
  width: 100px;
  margin: 40px auto;
}
.bs-docs-featurette h3 {
  margin-bottom: 5px;
  font-weight: 400;
  color: #333;
}
.bs-docs-featurette-img {
  display: block;
  margin-bottom: 20px;
  color: #333;
}
.bs-docs-featurette-img:hover {
  color: #428bca;
  text-decoration: none;
}
.bs-docs-featurette-img img {
  display: block;
  margin-bottom: 15px;
}
@media (min-width: 480px) {
  .bs-docs-featurette .img-responsive {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  .bs-docs-featurette {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .bs-docs-featurette-title {
    font-size: 40px;
  }
  .bs-docs-featurette .lead {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .bs-docs-featured-sites .col-sm-3:first-child img {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .bs-docs-featured-sites .col-sm-3:last-child img {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .bs-docs-featurette .img-responsive {
    margin-top: 0;
  }
}
.bs-docs-featured-sites {
  margin-right: -1px;
  margin-left: -1px;
}
.bs-docs-featured-sites .col-sm-3 {
  padding-right: 1px;
  padding-left: 1px;
}
.bs-docs-featured-sites .img-responsive {
  margin-bottom: 15px;
}
@media (min-width: 480px) {
  .bs-docs-featured-sites .img-responsive {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .bs-examples {
    margin-right: -10px;
    margin-left: -10px;
  }
  .bs-examples > [class^=col-] {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.vertical-sidebar.affix {
  position: static;
}
.sidenav .inner-scroll .nav > li > a.vertmenu-badge {
  padding-right: 80px;
}
.sidenav .inner-scroll .nav .nav > li > a.vertmenu-badge {
  padding-right: 58px;
}
.navbar .nav li.new-window {
  position: relative;
}
.navbar .nav li.new-window > a:after {
  background: transparent url(../img/docs/16_export.svg) no-repeat scroll -63px 0;
  content: "";
  display: inline-block;
  height: 16px;
  margin-left: 10px;
  position: relative;
  right: 0;
  top: 0;
  width: 16px;
}
.navbar .nav .dropdown-menu li.new-window > a:after {
  background-position: -84px 0;
  position: absolute;
  right: 15px;
  top: auto;
}
@media (max-width: 992px) {
  .affix-top .inner-scroll,
  .affix .inner-scroll {
    width: 100%;
    padding-right: 0;
  }
}
.bs-docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}
.back-to-top,
.bs-docs-theme-toggle {
  display: block;
  padding: 4px 0px;
  margin-top: 10px;
  margin-left: 15px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
.back-to-top {
  bottom: 10px;
  left: 10px;
  margin: 0;
  padding: 5px 10px;
  position: fixed;
  z-index: 9999;
  background: #fff;
}
.back-to-top:hover,
.bs-docs-theme-toggle:hover {
  text-decoration: none;
}
.back-to-top:focus,
.bs-docs-theme-toggle:focus {
  outline: none;
}
.bs-docs-theme-toggle {
  margin-top: 0;
}
.back-to-top-mobile {
  bottom: 15px;
  left: 15px;
  display: block;
  position: fixed;
  background: url(../img/top_arrow.png) no-repeat transparent;
  text-indent: -9999px;
  margin: 0;
  width: 55px;
  height: 55px;
  opacity: 0.5;
  outline: none;
}
.back-to-top-mobile:focus {
  outline: none;
  opacity: 0.7;
}
.back-to-top-mobile:hover {
  opacity: 0.7;
}
@media (min-width: 992px) {
  .vertical-sidebar .nav > .active > ul {
    display: block;
  }
  .vertical-sidebar.affix,
  .vertical-sidebar.affix-bottom {
    width: 213px;
  }
  .vertical-sidebar.affix {
    position: fixed;
    top: 20px;
    left: -16.4%;
  }
  .cbp-spmenu-open .vertical-sidebar.affix {
    left: auto;
  }
  .vertical-sidebar.affix-bottom {
    position: absolute;
  }
  .vertical-sidebar.affix-bottom .bs-docs-sidenav,
  .vertical-sidebar.affix .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .vertical-sidebar.affix-bottom,
  .vertical-sidebar.affix {
    width: 263px;
  }
}
.bs-docs-section {
  margin-bottom: 60px;
}
.bs-docs-section:last-child {
  margin-bottom: 0;
}
.bs-docs-section .page-header {
  /*border-color: #fff; 
	box-shadow: 0 1px 0 #e0e0e0; */
}
h1[id] {
  padding-top: 20px;
  margin-top: 0;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 3px;
  background: #fff;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout + .bs-callout {
  margin-top: -5px;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}
.color-swatches {
  margin: 0 -5px;
  overflow: hidden;
}
.color-swatch {
  float: left;
  width: 60px;
  height: 60px;
  margin: 0 5px;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .color-swatch {
    width: 100px;
    height: 100px;
  }
}
.color-swatches .gray-darker {
  background-color: #222;
}
.color-swatches .gray-dark {
  background-color: #333;
}
.color-swatches .gray {
  background-color: #555;
}
.color-swatches .gray-light {
  background-color: #999;
}
.color-swatches .gray-lighter {
  background-color: #eee;
}
.color-swatches .brand-primary {
  background-color: #428bca;
}
.color-swatches .brand-success {
  background-color: #5cb85c;
}
.color-swatches .brand-warning {
  background-color: #f0ad4e;
}
.color-swatches .brand-danger {
  background-color: #d9534f;
}
.color-swatches .brand-info {
  background-color: #5bc0de;
}
.color-swatches .bs-purple {
  background-color: #563d7c;
}
.color-swatches .bs-purple-light {
  background-color: #c7bfd3;
}
.color-swatches .bs-purple-lighter {
  background-color: #e5e1ea;
}
.color-swatches .bs-gray {
  background-color: #f9f9f9;
}
.bs-team .team-member {
  line-height: 32px;
  color: #555;
}
.bs-team .team-member:hover {
  color: #333;
  text-decoration: none;
}
.bs-team .github-btn {
  float: right;
  width: 180px;
  height: 20px;
  margin-top: 6px;
}
.bs-team img {
  float: left;
  width: 32px;
  margin-right: 10px;
  border-radius: 4px;
}
.show-grid {
  margin-bottom: 15px;
}
.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
}
.bs-example {
  background-color: #f5f5f5;
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px -1px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.05);
}
.bs-example-grey {
  background-color: #f5f5f5;
}
.bs-example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Example";
}
.bs-example + .highlight {
  margin: -15px -15px 15px;
  border-width: 0 0 1px;
  border-radius: 0;
}
@media (min-width: 768px) {
  .bs-example {
    margin-right: 0;
    margin-left: 0;
    /*background-color: #fff; */
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .bs-example-grey {
    background-color: #f5f5f5;
  }
  .bs-example + .highlight {
    margin-top: 0px;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
.bs-example .container {
  width: auto;
}
.bs-example > p:last-child,
.bs-example > ul:last-child,
.bs-example > ol:last-child,
.bs-example > blockquote:last-child,
.bs-example > .form-control:last-child,
.bs-example > .table:last-child,
.bs-example > .navbar:last-child,
.bs-example > .jumbotron:last-child,
.bs-example > .alert:last-child,
.bs-example > .panel:last-child,
.bs-example > .list-group:last-child,
.bs-example > .well:last-child,
.bs-example > .progress:last-child,
.bs-example > .table-responsive:last-child > .table {
  margin-bottom: 0;
}
.bs-example > p > .close {
  float: none;
}
.bs-example-type .table .type-info {
  color: #999;
  vertical-align: middle;
}
.bs-example-type .table td {
  padding: 15px;
  border-color: #eee;
}
.bs-example-type .table tr:first-child td {
  border-top: 0;
}
.bs-example-type h1,
.bs-example-type h2,
.bs-example-type h3,
.bs-example-type h4,
.bs-example-type h5,
.bs-example-type h6 {
  margin: 0;
}
.bs-example-bg-classes p {
  padding: 15px;
}
.bs-example > .img-circle,
.bs-example > .img-rounded,
.bs-example > .img-thumbnail {
  margin: 5px;
}
.bs-example > .table-responsive > .table {
  background-color: #fff;
}
.bs-example > .btn,
.bs-example > .btn-group {
  margin-top: 5px;
  margin-bottom: 5px;
}
.bs-example#active-button-btns > .btn.btn-primary.active:not(.left):not(.right),
.bs-example#active-button-btns > .btn.btn-primary.active:not(.left):not(.right):active,
.bs-example#active-button-btns > .btn.btn-primary.active:not(.left):not(.right):focus,
.bs-example#active-button-btns > .btn.btn-primary.active:not(.left):not(.right):hover,
.bs-example#active-button-btns2 > .btn.btn-primary.active:not(.left):not(.right),
.bs-example#active-button-btns2 > .btn.btn-primary.active:not(.left):not(.right):active,
.bs-example#active-button-btns2 > .btn.btn-primary.active:not(.left):not(.right):focus,
.bs-example#active-button-btns2 > .btn.btn-primary.active:not(.left):not(.right):focus:hover,
.bs-example#active-button-btns2 > .btn.btn-primary.active:not(.left):not(.right):hover {
  background: #3a6400 !important;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhNjQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYlIiBzdG9wLWNvbG9yPSIjNDA2ZTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ5N2QwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=) !important;
  background: -webkit-linear-gradient(top, #3a6400 0%, #406e00 6%, #497d00 100%) !important;
  background: linear-gradient(to bottom, #3a6400 0%, #406e00 6%, #497d00 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a6400', endColorstr='#497d00', GradientType=0) !important;
  border-color: #325700 #3b6500 #427000 !important;
  border-width: 1px !important;
  outline: none !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0px 1px 0px #3a6400, inset 1px 0px 0px #447500, inset -1px 0px 0px #447500 !important;
}
.bs-example#active-button-btns > .btn.btn-default.active:not(.left):not(.right),
.bs-example#active-button-btns > .btn.btn-default.active:not(.left):not(.right):active,
.bs-example#active-button-btns > .btn.btn-default.active:not(.left):not(.right):focus,
.bs-example#active-button-btns > .btn.btn-default.active:not(.left):not(.right):hover,
.bs-example#active-button-btns2 > .btn.btn-default.active:not(.left):not(.right),
.bs-example#active-button-btns2 > .btn.btn-default.active:not(.left):not(.right):active,
.bs-example#active-button-btns2 > .btn.btn-default.active:not(.left):not(.right):focus,
.bs-example#active-button-btns2 > .btn.btn-default.active:not(.left):not(.right):focus:hover,
.bs-example#active-button-btns2 > .btn.btn-default.active:not(.left):not(.right):hover {
  background: #dadada !important;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhZGFkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjZTFlMWUxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=) !important;
  background: -webkit-linear-gradient(top, #dadada 0%, #e1e1e1 4%, #e5e5e5 100%) !important;
  background: linear-gradient(to bottom, #dadada 0%, #e1e1e1 4%, #e5e5e5 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dadada', endColorstr='#e5e5e5', GradientType=0) !important;
  border-color: #b1b1b1 #c6c6c6 #cecece !important;
  outline: none !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.75) !important;
}
.bs-example > .btn-toolbar + .btn-toolbar {
  margin-top: 0px;
}
.bs-example-control-sizing select,
.bs-example-control-sizing .select-wrapper,
.bs-example-control-sizing input[type=text] + input[type=text] {
  margin-top: 10px;
}
.bs-example-form .input-group {
  margin-bottom: 10px;
}
.bs-example > textarea.form-control {
  resize: vertical;
}
.bs-example > .list-group {
  max-width: 400px;
}
.bs-example .navbar:last-child {
  margin-bottom: 0;
}
.bs-example .navbar.navbar-second-level {
  margin-bottom: 70px !important;
}
.bs-navbar-top-example,
.bs-navbar-bottom-example {
  z-index: 1;
  padding: 0;
  overflow: hidden;
}
.bs-navbar-top-example .navbar-header,
.bs-navbar-bottom-example .navbar-header {
  margin-left: 0;
}
.bs-navbar-top-example .navbar.navbar-fixed-top,
.bs-navbar-bottom-example .navbar.navbar-fixed-bottom {
  position: relative;
  margin-right: 0;
  margin-left: 0;
}
.bs-navbar-top-example {
  padding-bottom: 45px;
}
.bs-navbar-top-example:after {
  top: auto;
  bottom: 15px;
}
.bs-navbar-top-example .navbar-fixed-top {
  top: -1px;
}
.bs-navbar-bottom-example {
  padding-top: 45px;
}
.bs-navbar-bottom-example .navbar-fixed-bottom {
  bottom: -1px;
}
.bs-navbar-bottom-example .navbar {
  margin-bottom: 0;
}
#bs-navbar-collapse-ex2 .first-level > li > .second-level {
  display: none;
}
#bs-navbar-collapse-ex2 > #bs-navbar-collapse-ex2-1 {
  display: block;
}
@media (min-width: 768px) {
  .bs-navbar-top-example .navbar-fixed-top,
  .bs-navbar-bottom-example .navbar-fixed-bottom {
    position: absolute;
  }
}
.bs-example .pagination {
  margin-top: 10px;
  margin-bottom: 10px;
}
.bs-example > .pager {
  margin-top: 0;
}
.bs-example-modal {
  background-color: #797979;
}
.bs-example-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}
.bs-example-modal .modal-dialog {
  left: auto;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .bs-example-modal .modal {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .bs-example-modal .modal .modal-dialog {
    width: auto;
  }
}
.bs-example > .dropdown > .dropdown-toggle {
  float: left;
}
.bs-example > .dropdown > .dropdown-menu {
  position: relative;
  display: block;
  margin-bottom: 5px;
  clear: left;
}
.bs-example-tooltips {
  text-align: center;
}
.bs-example-tooltips > .btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
.bs-example.bs-example-tooltip .tooltip.left,
.bs-example.bs-example-tooltip .tooltip.right,
.bs-example.bs-example-tooltip .tooltip.top,
.bs-example.bs-example-tooltip .tooltip.bottom {
  max-width: 200px;
}
.bs-example-tooltip .tooltip {
  clear: both;
  float: none !important;
  margin: 20px !important;
  opacity: 1;
  position: relative;
}
.bs-example-popover {
  padding-bottom: 24px;
}
.bs-example-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px !important;
  top: auto !important;
}
.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 10px;
  overflow: auto;
}
.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 0 4px 4px;
}
.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  word-break: normal;
  word-wrap: nowrap;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.highlight pre code {
  font-size: inherit;
  color: #333;
}
.highlight pre code:first-child {
  display: inline-block;
  padding-right: 45px;
}
.table-responsive .highlight pre {
  white-space: normal;
}
.bs-table th small,
.responsive-utilities th small {
  display: block;
  font-weight: 400;
  color: #999;
}
.responsive-utilities tbody th {
  font-weight: 400;
}
.responsive-utilities td {
  text-align: center;
}
.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8!important;
}
.responsive-utilities td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9!important;
}
.responsive-utilities-test {
  margin-top: 5px;
}
.responsive-utilities-test .col-xs-6 {
  margin-bottom: 10px;
}
.responsive-utilities-test span {
  display: block;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  border-radius: 4px;
}
.visible-on .col-xs-6 .hidden-xs,
.visible-on .col-xs-6 .hidden-sm,
.visible-on .col-xs-6 .hidden-md,
.visible-on .col-xs-6 .hidden-lg,
.hidden-on .col-xs-6 .hidden-xs,
.hidden-on .col-xs-6 .hidden-sm,
.hidden-on .col-xs-6 .hidden-md,
.hidden-on .col-xs-6 .hidden-lg {
  color: #999;
  border: 1px solid #ddd;
}
.visible-on .col-xs-6 .visible-xs-block,
.visible-on .col-xs-6 .visible-sm-block,
.visible-on .col-xs-6 .visible-md-block,
.visible-on .col-xs-6 .visible-lg-block,
.hidden-on .col-xs-6 .visible-xs-block,
.hidden-on .col-xs-6 .visible-sm-block,
.hidden-on .col-xs-6 .visible-md-block,
.hidden-on .col-xs-6 .visible-lg-block {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}
.bs-vismaicons {
  margin: 0 -10px 20px;
  overflow: hidden;
}
.bs-vismaicons-list {
  padding-left: 0;
  list-style: none;
  clear: both;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 30px;
}
.bs-vismaicons li {
  float: left;
  width: 25%;
  height: 140px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #fff;
}
.bs-vismaicons .vismaicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.bs-vismaicons .vismaicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}
.bs-vismaicons-list-top-menu .bs-top-menu-test {
  background: #0079bf;
  width: 72px;
  height: 42px;
  margin: 5px auto 10px;
}
.bs-vismaicons-list-top-menu .bs-top-menu-test .vismaicon {
  margin: 0;
  top: 0;
  border-right: 1px solid #1a85c3;
}
.bs-vismaicons-list-top-menu .vismaicon {
  background: #0079bf;
}
.bs-vismaicons-list-dropdown-menu {
  padding: 1px;
}
.bs-vismaicons-list-dropdown-menu li {
  background: #fff;
  border: 0;
  width: 16.6% !important;
  list-style: none;
  border: 1px solid #e1e1e8;
  margin-left: -1px;
  margin-bottom: -1px;
  height: 175px;
}
.bs-vismaicons-list-dropdown-menu .bs-dropdown-menu-test {
  background: #fff;
  width: 42px;
  height: 42px;
  margin: 0 auto;
}
.bs-vismaicons-list-dropdown-menu .bs-dropdown-menu-test:nth-child(3n+0) {
  margin-left: 0;
}
.bs-vismaicons-list-dropdown-menu .vismaicon.vismaicon-dropdown-menu {
  margin: 0;
}
.bs-vismaicons .bs-vismaicons-list-top-menu li {
  height: 165px;
  width: 14.25%;
}
.bs-vismaicons .bs-vismaicons-list-informative-icons li {
  height: 160px;
  width: 16%;
}
/* Color palette */
.color-palette p {
  font-weight: 100;
  letter-spacing: -0.01em;
  line-height: 120%;
  margin-bottom: 15px;
}
.color-palette .color {
  width: 100px;
  height: 100px;
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.color-palette .color:after {
  content: '';
  background: #fff;
  display: block;
  height: 26px;
  left: 37px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 37px;
  width: 26px;
}
.color-palette .color.horiz-menu-header {
  background: #006199;
  background: -webkit-linear-gradient(left, #006199 0%, #0079bf 100%);
  background: linear-gradient(to right, #006199 0%, #0079bf 100%);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
}
.color-palette .color.blue-main {
  background: #0974b3;
}
.color-palette .color.blue-illustrations {
  background: #0089d9;
}
.color-palette .color.blue-flat-hover {
  background: #CCEBFF;
}
.color-palette .color.blue-gradient-hover {
  background: #e8f6ff;
  background: -webkit-linear-gradient(top, #e8f6ff 10%, #dae7ef 75%);
  background: linear-gradient(to bottom, #e8f6ff 10%, #dae7ef 75%);
  -webkit-box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5) inset, 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5) inset, 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5) inset, 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
  border: 1px solid #e0e0e0;
}
.color-palette .color.blue-gradient-hover:after {
  border: 1px solid #e0e0e0;
  box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.color-palette .color.green-main {
  background: #4D8400;
}
.color-palette .color.green-illustrations {
  background: #4d8400;
}
.color-palette .color.green-disabled {
  background: #95B26B;
}
.color-palette .color.green-disabled-text {
  background: #DCE5CF;
}
.color-palette .color.dark-text {
  background: #282828;
}
.color-palette .color.light-text {
  background: #737373;
}
.color-palette .color.disabled-text {
  background: #a0a0a0;
}
.color-palette .color.dotted-dividers {
  background: #d7d7d7;
}
.color-palette .color.dividers {
  background: #ebebeb;
}
.color-palette .color.canvas-background {
  background: #f5f5f5;
}
.color-palette .color.orange {
  background: #F28D00;
}
.color-palette .color.orange-hover {
  background: #FFA526;
}
.color-palette .color.orange-disabled {
  background: #EBB972;
}
.color-palette .color.orange-disabled-text {
  background: #FFF1DE;
}
.color-palette .color.red-notifications {
  background: #C72828;
}
.color-palette .color.red {
  background: #D6565A;
}
.color-palette .color.red-hover {
  background: #E57377;
}
.color-palette .color.red-disabled {
  background: #D98285;
}
.color-palette .color.red-disabled-text {
  background: #FFCCCE;
}
.color-palette .color.green-button {
  *zoom: 1;
  border-width: 1px;
  border-style: solid;
  border-color: #4f8800 #437400 #2d5e00;
  color: #fff;
  background: #4D8500;
  background: -webkit-linear-gradient(top, #569400 0%, #487c00 40%, #477a00 100%);
  background: linear-gradient(to bottom, #569400 0%, #487c00 40%, #477a00 100%);
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
}
.color-palette .color.green-button:after {
  border-width: 1px;
  border-style: solid;
  border-color: #306300 #437400 #417000;
  box-shadow: 0 1px 0 #dadada inset;
}
.color-palette .color.silver-button {
  *zoom: 1;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0 #d2d2d2 #b6b6b6;
  background: #ffffff;
  background: -webkit-linear-gradient(top, #ffffff 10%, #f0f0f0 75%);
  background: linear-gradient(to bottom, #ffffff 10%, #f0f0f0 75%);
  -webkit-box-shadow: -1px -1px 0 #fff inset, 1px 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: -1px -1px 0 #fff inset, 1px 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: -1px -1px 0 #fff inset, 1px 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.12);
}
.color-palette .color.silver-button:after {
  border-width: 1px;
  border-style: solid;
  border-color: #b6b6b6 #d2d2d2 #e0e0e0;
  box-shadow: 0 1px 0 #eeeeee inset, 1px 1px 0 #fff, -1px -1px 0 #fff;
}
.color-palette .color.container-modules {
  border-width: 1px;
  border-style: solid;
  border-color: #f2f2f2 #e9e9e9 #d7d7d7;
  background: #fff;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.color-palette .color.container-modules:after {
  border-width: 1px;
  border-style: solid;
  border-color: #d7d7d7 #e9e9e9 #f2f2f2;
  box-shadow: 0 1px 0 #f5f5f5 inset;
}
.color-palette .color.container-dropdown {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) #e9e9e9 #dedede;
  background: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}
.color-palette .color.container-dropdown:after {
  border-width: 1px;
  border-style: solid;
  border-color: #dedede #e9e9e9 #f0f0f0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08) inset;
}
.color-palette .horizontal-menu-hover {
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
}
.color-palette .horizontal-menu-hover:after {
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
}
.color-palette .horizontal-menu-selected {
  background: rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
  -webkit-box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1) inset;
}
.color-palette .horizontal-menu-selected:after {
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
}
.color-palette .selected-grid-row-bg {
  position: relative;
  background: #f0f0f0;
  -webkit-box-shadow: 0 1px 0 #e2e2e2 inset, 0 -1px 0 #e2e2e2 inset;
  -moz-box-shadow: 0 1px 0 #e2e2e2 inset, 0 -1px 0 #e2e2e2 inset;
  box-shadow: 0 1px 0 #e2e2e2 inset, 0 -1px 0 #e2e2e2 inset;
}
.color-palette .selected-grid-row-bg:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background: #4d8400;
}
.color-palette .selected-grid-row-bg:after {
  border-width: 1px 0;
  border-style: solid;
  border-color: #e2e2e2;
}
.color-palette .expanded-grid-row-bg {
  overflow: hidden;
  position: relative;
  background: #fafafa;
}
.color-palette .expanded-grid-row-bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: -4px;
  width: 108%;
  height: 100%;
  background: transparent;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 -1px 1px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 -1px 1px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 -1px 1px rgba(0, 0, 0, 0.15) inset;
}
.color-palette .expanded-grid-row-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  z-index: 99;
  background: #4d8400;
}
.color-palette .expanded-grid-row-bg > span {
  background: #fff;
  display: block;
  height: 26px;
  left: 37px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 37px;
  width: 26px;
}
@media (min-width: 768px) {
  .bs-vismaicons {
    margin-right: 0;
    margin-left: 0;
  }
  .bs-vismaicons li {
    width: 14.28%;
    font-size: 12px;
  }
}
.bs-customizer .toggle {
  float: right;
  margin-top: 25px;
}
.bs-customizer label {
  margin-top: 10px;
  font-weight: 500;
  color: #555;
}
.bs-customizer h2 {
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-customizer h3 {
  margin-bottom: 0;
}
.bs-customizer h4 {
  margin-top: 15px;
  margin-bottom: 0;
}
.bs-customizer .bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-customizer input[type=text] {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #fafafa;
}
.bs-customizer .help-block {
  margin-bottom: 5px;
  font-size: 12px;
}
#less-section label {
  font-weight: 400;
}
.bs-customizer-input {
  float: left;
  width: 33.333333%;
  padding-right: 15px;
  padding-left: 15px;
}
.bs-customize-download .btn-outline {
  padding: 20px;
}
.bs-customizer-alert {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 15px 0;
  color: #fff;
  background-color: #d9534f;
  border-bottom: 1px solid #b94441;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.bs-customizer-alert .close {
  margin-top: -4px;
  font-size: 24px;
}
.bs-customizer-alert p {
  margin-bottom: 0;
}
.bs-customizer-alert .vismaicon {
  margin-right: 5px;
}
.bs-customizer-alert pre {
  margin: 10px 0 0;
  color: #fff;
  background-color: #a83c3a;
  border-color: #973634;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
.bs-brand-logos {
  display: table;
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
  color: #563d7c;
  background-color: #f9f9f9;
  border-radius: 4px;
}
.bs-brand-item {
  padding: 60px 0;
  text-align: center;
}
.bs-brand-item + .bs-brand-item {
  border-top: 1px solid #fff;
}
.bs-brand-logos .inverse {
  color: #fff;
  background-color: #563d7c;
}
.bs-brand-item .svg {
  width: 144px;
  height: 144px;
}
.bs-brand-item h1,
.bs-brand-item h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.bs-brand-item .bs-docs-booticon {
  margin-right: auto;
  margin-left: auto;
}
.bs-brand-item .vismaicon {
  width: 30px;
  height: 30px;
  margin: 10px auto -10px;
  line-height: 30px;
  color: #fff;
  border-radius: 50%;
}
.bs-brand-item .vismaicon-ok {
  background-color: #5cb85c;
}
.bs-brand-item .vismaicon-remove {
  background-color: #d9534f;
}
@media (min-width: 768px) {
  .bs-brand-item {
    display: table-cell;
    width: 1%;
  }
  .bs-brand-item + .bs-brand-item {
    border-top: 0;
    border-left: 1px solid #fff;
  }
  .bs-brand-item h1 {
    font-size: 60px;
  }
}
.bs-examples .thumbnail {
  margin-bottom: 10px;
}
.bs-examples h4 {
  margin-bottom: 5px;
}
.bs-examples p {
  margin-bottom: 20px;
}
#focusedInput {
  border-color: #ccc;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}
.zero-clipboard {
  position: relative;
  display: none;
}
.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #777;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 0 0px 4px;
}
.btn-clipboard-hover {
  color: #fff;
  background-color: #2e85b8;
  border-color: #2575a2;
}
.hll {
  background-color: #ffc;
}
.c {
  color: #999;
}
.err {
  color: #A00;
  background-color: #FAA;
}
.k {
  color: #069;
}
.o {
  color: #555;
}
.cm {
  color: #999;
}
.cp {
  color: #099;
}
.c1 {
  color: #999;
}
.cs {
  color: #999;
}
.gd {
  background-color: #FCC;
  border: 1px solid #C00;
}
.ge {
  font-style: italic;
}
.gr {
  color: red;
}
.gh {
  color: #030;
}
.gi {
  background-color: #CFC;
  border: 1px solid #0C0;
}
.go {
  color: #AAA;
}
.gp {
  color: #009;
}
.gu {
  color: #030;
}
.gt {
  color: #9C6;
}
.kc {
  color: #069;
}
.kd {
  color: #069;
}
.kn {
  color: #069;
}
.kp {
  color: #069;
}
.kr {
  color: #069;
}
.kt {
  color: #078;
}
.m {
  color: #F60;
}
.s {
  color: #d44950;
}
.na {
  color: #4f9fcf;
}
.nb {
  color: #366;
}
.nc {
  color: #0A8;
}
.no {
  color: #360;
}
.nd {
  color: #99F;
}
.ni {
  color: #999;
}
.ne {
  color: #C00;
}
.nf {
  color: #C0F;
}
.nl {
  color: #99F;
}
.nn {
  color: #0CF;
}
.nt {
  color: #2f6f9f;
}
.nv {
  color: #033;
}
.ow {
  color: #000;
}
.w {
  color: #bbb;
}
.mf {
  color: #F60;
}
.mh {
  color: #F60;
}
.mi {
  color: #F60;
}
.mo {
  color: #F60;
}
.sb {
  color: #C30;
}
.sc {
  color: #C30;
}
.sd {
  color: #C30;
  font-style: italic;
}
.s2 {
  color: #C30;
}
.se {
  color: #C30;
}
.sh {
  color: #C30;
}
.si {
  color: #A00;
}
.sx {
  color: #C30;
}
.sr {
  color: #3AA;
}
.s1 {
  color: #C30;
}
.ss {
  color: #FC3;
}
.bp {
  color: #366;
}
.vc {
  color: #033;
}
.vg {
  color: #033;
}
.vi {
  color: #033;
}
.il {
  color: #F60;
}
.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999;
}
/* Vertical menu */
.bs-example .cbp-spmenu-open.cbp-spmenu {
  height: auto;
  left: 0;
}
.bs-docs-sidebar.sidenav {
  margin-top: 20px;
}
.bs-example.vertical-menu-example {
  overflow: hidden;
}
.bs-example .cbp-spmenu {
  left: -40%;
}
.bs-example .cbp-spmenu .sidenav .nav > li.show-nav {
  left: 87%;
  position: absolute;
  z-index: 999;
}
.bs-example .cbp-spmenu-open.cbp-spmenu .sidenav .nav > li.show-nav {
  position: relative;
}
#contentPushRight.col-md-12 {
  width: 100%;
}
/* /Vertical menu */
.anchorjs-link {
  font-size: 19px;
  color: #a0a0a0;
  font-weight: lighter;
  text-decoration: none;
}
/* Labels */
.bs-default-label-bg,
.bs-primary-label-bg,
.bs-secondary-label-bg {
  padding: 10px;
  margin-bottom: 10px;
}
.bs-default-label-bg {
  background: #fff;
}
.bs-primary-label-bg {
  background: #569400;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2OTQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NzdhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-linear-gradient(top, #569400 0%, #477a00 100%);
  background: linear-gradient(to bottom, #569400 0%, #477a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#569400', endColorstr='#477a00', GradientType=0);
}
.bs-secondary-label-bg {
  background: #0077bc;
}
/* /Labels */
.anchorjs-link {
  display: none;
}
.bs-body-documentation .panel-body h2 {
  margin-top: 0;
}
.bs-body-documentation .list-group h2 {
  border-bottom: 0;
  margin-top: 0;
}
.bs-body-documentation .list-group a {
  color: #fff;
}
.bs-body-documentation .list-group a:hover {
  color: #fff;
  text-decoration: none;
}
.bs-body-documentation .list-group > .list-group-item:hover {
  background: transparent !important;
}
@media (min-width: 1000px) {
  .bs-body-docs .container {
    width: 955px;
  }
  .bs-body-docs .container p > img {
    max-width: 100%;
    width: auto;
  }
}
.bs-docs-title {
  font-size: 40px;
  color: #969696;
  font-weight: 200;
}
.bs-docs-title .text-primary {
  color: #048bd9;
  font-weight: 400;
}
.bs-docs-title .text-default {
  color: #282828;
  font-weight: 400;
}
.bs-docs-subtitle {
  color: #646464;
  font-size: 30px;
  font-weight: 200;
}
.img-res img {
  max-width: 100%;
  width: auto;
}
.modal-lg.bs-docs-documentation {
  width: 75%;
  text-align: center;
}
.modal-lg.bs-docs-documentation .close {
  position: absolute;
  right: 5px;
  top: -3px;
}
.modal-lg.bs-docs-documentation .item img {
  margin: 0 auto;
  /*max-height: 786px; */
}
.bs-body-docs .modal-body img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.bs-body-docs .navbar-second-level {
  margin-bottom: 56px;
}
.screen-example {
  cursor: pointer;
}
.screen-example img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.left-side img,
.right-side img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.left-side h3,
.right-side h3 {
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 15px;
}
.left-side {
  z-index: 30;
}
.left-side p.col-md-11 {
  margin-bottom: 35px;
  margin-top: 15px;
  font-size: 12px;
}
.left-side:before {
  background: transparent url(http://www.visma.se/siteassets/head-shadow.png) no-repeat scroll left top;
  content: "";
  height: 709px;
  position: absolute;
  right: -82px;
  top: -30px;
  width: 82px;
  z-index: 999;
}
.service-design:before {
  top: -10px;
}
.proceedo-design:before {
  top: -2px;
}
.right-side {
  z-index: 10;
}
.right-side p.col-md-11 {
  margin-bottom: 15px;
  margin-top: 35px;
  font-size: 12px;
}
.try-proceedo {
  font-size: 20px;
}
.bs-examples h1 {
  font-size: 40px;
  font-weight: 200;
  letter-spacing: -0.02em;
  margin-top: 30px;
}
.bs-examples .lead {
  color: #737373;
  font-size: 22px;
}
.bs-examples h2.heading-primary {
  font-size: 28px;
}
.bs-examples .panel-body > .col-md-11.center-block {
  margin-bottom: 45px;
}
.bs-examples .carousel-indicators {
  bottom: -30px;
}
.bs-examples .carousel-indicators li {
  border: 1px solid #5a5a5a;
}
.bs-examples .carousel-indicators .active {
  background-color: #5a5a5a;
}
.bs-examples .close {
  top: 6px !important;
}
.bs-example .carousel-control .vismaicon-arrow-left-circle:before {
  background: transparent url(../img/carousel-img.png) no-repeat scroll 4px 16px;
}
.bs-example .carousel-control .vismaicon-arrow-right-circle:before {
  background: transparent url(../img/carousel-img.png) no-repeat scroll -137px 16px;
}
/* Responsive */
@media (max-width: 1200px) {
  .left-side:before {
    background-size: auto 100%;
    height: 544px;
  }
  .bs-examples .panel-body > .col-md-6.center-block {
    width: 75%;
  }
}
@media (max-width: 993px) {
  .bs-body-docs .left-side:before {
    display: none;
  }
}
@media (max-width: 769px) {
  .bs-vismaicons li {
    font-size: 11px;
  }
  .color-palette {
    display: table;
  }
  .color-palette .col-xs-2 {
    padding-left: 0;
    vertical-align: top;
  }
  .color-palette .col-xs-2 img {
    width: 100%;
  }
  .bs-vismaicons li,
  .bs-vismaicons .bs-vismaicons-list-informative-icons li,
  .bs-vismaicons .bs-vismaicons-list-top-menu li {
    width: 25% !important;
  }
  .bs-body-documentation .bs-docs-container .col-md-8.panel {
    padding-left: 0;
    padding-right: 0;
  }
  .bs-examples h1 {
    font-size: 28px;
  }
  .bs-examples .lead {
    font-size: 18px;
  }
  .bs-examples h2.heading-primary {
    font-size: 24px;
  }
  .bs-examples {
    margin: 0;
  }
  .bs-header {
    padding: 10px;
  }
  .bs-body-docs .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 730px) {
  .color-palette .col-xs-2 {
    width: 33%;
  }
}
@media (max-width: 440px) {
  .color-palette .col-xs-2 {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 769px) {
  .zero-clipboard {
    display: block;
  }
}
@media (min-width: 992px) {
  .bs-docs-sidebar .nav > .active > ul {
    display: block;
  }
  .bs-docs-sidebar.affix,
  .bs-docs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-docs-sidebar.affix {
    position: fixed;
    top: 0px;
  }
  .bs-docs-sidebar.affix-bottom {
    position: absolute;
  }
  .bs-docs-sidebar.affix .bs-docs-sidenav,
  .bs-docs-sidebar.affix-bottom .bs-docs-sidenav {
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .bs-docs-sidebar.sidenav,
  .bs-docs-sidebar.affix,
  .bs-docs-sidebar.affix-bottom {
    width: 253px;
  }
}
@media (max-width: 361px) {
  .bs-vismaicons li,
  .bs-vismaicons .bs-vismaicons-list-informative-icons li,
  .bs-vismaicons .bs-vismaicons-list-top-menu li {
    width: 33.3% !important;
  }
}
/* Case example page - custom style */
.case-example .center-block {
  margin-bottom: 120px !important;
}
.case-example .heading-primary,
.case-example .try-proceedo {
  margin-bottom: 60px !important;
}
