html {
    height: 100%;
    box-sizing: border-box
}

*, :before, :after {
    box-sizing: inherit
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%
}

.header-block {
    text-align: center;
    background: #C9E8BE;
    width: 100%;
    padding-top: 7px;
    font-size: 20px
}

.content {
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
    /*height: 100%*/
}

.footer-block {
    position: relative;
    height: 35px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #efefef
}

/*
#footer-block {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   !* Height of the footer *!
    background:#6cf;
}
*/

.auction-listing {
    border-bottom: 1px solid #d3d3d3;
    border-spacing: 15px
}

.notification-listing {
    width: 410px;
    border-bottom: 1px solid #d3d3d3;
    border-spacing: 5px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 10px
}

.notification-body {
    padding-top: 10px;
    /*padding-left: 25px*/
}

.col-notification {
    width: 380px;
    text-align: left;
    /*padding-right: 25px*/
}

.spanNotification {
    margin-right: 10px;
    float: left
}

.strong {
    font-weight: 700
}

.task-block {
    display: flex;
    margin: 18px 0;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.28);
    padding: 10px
}

.task-creation-date {
    margin-right: 10px
}

.center-form {
    margin: auto;
    text-align: center;
    padding: 10px
}

.right-form {
    margin: auto;
    text-align: right;
    padding: 10px
}

.image {
    position: relative;
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.center-form > a {
    text-decoration: none;
    padding: 6px
}

.new-task-title {
    margin: 5px 0;
    display: block;
    width: 100%;
    line-height: 32px;
    font-size: 15px
}

.new-task-content {
    margin: 5px 0;
    display: block;
    width: 100%;
    height: 200px
}

.new-task-submit {
    float: right
}

.error-message {
    margin-bottom: 10px;
    color: red
}

.field-error {
    border: 1px solid red !important
}

.view-task-creation-date-block {
    padding-top: 10px;
    display: flex
}

.view-task-creation-date-value {
    padding-left: 3px
}

.view-task-content {
    font-family: serif
}

.login-form {
    text-align: center
}

.login-error {
    color: red;
    text-align: center
}

.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px
}

.login-form-content {
    padding: 45px 50px 50px;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.12);
    color: #282828;
    font-size: 14px;
    line-height: 20px
}

.login-form-header {
    position: relative;
    overflow: hidden;
    height: 58px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 2px 0 -1px #fff, inset 0 1px 0 #eaeaea
}

.anonymousLogin-form-header {
    position: relative;
    overflow: hidden;
    height: 58px;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 2px 0 -1px #fff, inset 0 1px 0 #eaeaea
}

.login-error {
    margin: auto;
    text-align: center
}

.registration-form {
    margin: auto;
    width: 60%;
    text-align: center;
    border: 3px solid #C9E8BE;
    padding: 10px
}

table.center {
    margin-left: auto;
    margin-right: auto
}

button[type=submit] {
    background-color: #006f1c;
    color: #fff;
    text-decoration: none;
    padding: 6px
}

.signedInAs {
    text-align: center
}

.logout {
    float: right
}

.text-right {
    text-align: right;
    font-style: oblique
}

#filter {
    margin: 30px 0 10px 30px
}

#price {
    height: 20px;
    width: 100px
}

.helpLinks a {
    text-decoration: none;
    color: orange
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto
}

.autocomplete-suggestion {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px
}

.autocomplete-selected {
    background: #F0F0F0
}

.autocomplete-suggestions strong {
    font-weight: 700;
    color: #39F
}

.flex-range {
    display: flex
}

.flex-range > b {
    flex: 0 0 auto
}

.flex-range > div {
    flex: 1 0;
    margin-top: 4px;
    margin-left: 15px;
    margin-right: 3px
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px
}

.registration-table-td {
    margin: auto;
    text-align: left
}

.view-auction-bid-information-highest-bid {
    font-size: 200%
}

.view-auction-bid-information-highest-bidder {
    font-size: 150%
}

.view-auction-bid-information-currency {
    font-size: 150%
}

.auth-google-login-btn{
    font-size: 18px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #0974b3;
    box-shadow: 1px 1px 1px #ebebeb;
    padding: 10px;
}

.auth-google-login-btn:hover span {
    color: #fff !important;
}

.auth-google-login-btn:hover {
    text-decoration: none;
    background-color: #0974b3;
    color: #fff!important;
}
.nc-btn-default {
    color: #337ab7;
}

.nc-btn-default {
    color: #337ab7;
}

.nc-btn {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
