.col-xs-3-report{
    width: 20%;
    left: 20%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}

.report-bug-td{
    margin:auto;
    text-align: left;
    padding: 5px
}

.report-bug-td-required > td.before {
    content: "*";
    position: absolute;
    top: 5px;
    margin-left: -7px;
    color: #c72828;
    font-size: 12px;
}

.report-bug-send-button{
    margin-left: 45%
}