<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Seli Auction</title>
    <script>
        function deleteLocalStorage() {
            localStorage.clear();
        }
    </script>
</head>
<body th:onload="${loggedInUserEmail != 'anonymousUser' ? 'notification.getNotificationNumber(); deleteLocalStorage();': 'deleteLocalStorage();' }">
<div layout:fragment="content">
    <div id="app"></div>
    <div th:if="${loggedInUserEmail!='anonymousUser' and !trendingAuctions.isEmpty()}"
         class="panel panel-default">
        <div class="panel-heading" th:text="#{auction.trending}"></div>
        <div class="panel-body">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div
                            th:each="carouselViewId : ${#numbers.sequence(0, carouselViewsCount-1)}"
                            th:class="${carouselViewId == 0 ? 'item active' : 'item'}">

                        <div
                                th:each="itemIndexInCarouselView : ${#numbers.sequence(0, itemsCountInCarousel-1)}"
                                th:if="${(carouselViewId * itemsCountInCarousel + itemIndexInCarouselView) &lt; trendingAuctionsSize}">

                            <div class="col-xs-3 col-xs-3 col-xs-3">
                                <div class="row center-form">
                                    <h3>
                                        <a
                                                th:text="${trendingAuctions[(carouselViewId * itemsCountInCarousel + itemIndexInCarouselView)].title}"
                                                th:href="@{/auction/{id}/(id=${trendingAuctions[(carouselViewId * itemsCountInCarousel + itemIndexInCarouselView)].id})}">TITLE</a>
                                    </h3>
                                    <img
                                            th:src="@{/auction/picture/{id}/{pictureId}/(id=${trendingAuctions[(carouselViewId * itemsCountInCarousel + itemIndexInCarouselView)].id}, pictureId=0)}"
                                            width="100" height="100"/>
                                    <div>
                                        <div class="row">
                                            <div class="task-start-time"
                                                 th:text="'End time: ' + ${#temporals.format(trendingAuctions[(carouselViewId * itemsCountInCarousel + itemIndexInCarouselView)].endDate, 'yyyy-MM-dd HH:mm')}">
                                                2016:01:10 10:00
                                            </div>
                                            <div th:replace="html/snippets/auction/view/startingPrice">...</div>
                                            <div class="last-bid-amount"
                                                 th:text="'Highest bid amount: ' + ${bidRepository.findLastBid(trendingAuctions[(carouselViewId * itemsCountInCarousel + itemIndexInCarouselView)].id)!=null ? bidRepository.findHighestBid(trendingAuctions[(carouselViewId * itemsCountInCarousel + itemIndexInCarouselView)].id).amount : '0'}">
                                                unknown
                                            </div>
                                        </div>
                                        <div class="row">
                                            <a th:href="@{/auction/{id}/(id=${trendingAuctions[(carouselViewId * itemsCountInCarousel + itemIndexInCarouselView)].id})}">
                                                <button type="button" class="btn btn-primary">
                                                    <span></span>View details
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button"
                   data-slide="prev" style="margin-left: -50px "> <span
                        class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a> <a class="right carousel-control" href="#myCarousel" role="button"
                        data-slide="next" style="margin-right: -50px"> <span
                    class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>
    </div>

    <div class="login-container" th:if="${loggedInUserEmail=='anonymousUser'}">
        <div class="login-form-header">
            Seli login
        </div>
        <div class="login-form-content">
            <div>
                <form th:action="@{/}" method="post">
                    <div class="form-group">
                        <label for="userEmail">Email address:</label>
                        <input type="email" class="form-control" name="userEmail" id="userEmail"
                               th:placeholder="#{login.user.email}"/>
                    </div>
                    <div>
                        <label for="userPassword">Password:</label>
                        <input type="password" class="form-control" name="userPassword" id="userPassword"
                               th:placeholder="#{login.user.password}"/><br/>
                    </div>
                    <div class="row login-form">
                        <input type="submit" class="btn btn-default" th:value="#{login.save}"/>
                        <a class="btn btn-google" th:href="@{/login/google}" th:text="#{google.login}">Google login</a>
                        <div th:unless="${#httpServletRequest.getParameter('login-error') == null}"
                             class="error-message">
                            Invalid username and password.
                        </div>
                    </div>

                </form>
            </div>

            <div th:if="${loggedInUserEmail=='anonymousUser'}" class="login-form">
                <a class="btn btn-default" th:href="@{/registration}"
                   th:text="#{registration.annotation}">Registration</a>
            </div>
            <div th:if="${loggedInUserEmail=='anonymousUser'}" class="login-form">
                <br/>
                <a type="submit" class="btn btn-default" th:href="@{/anonymousAuctionUser}">Create auction</a>
            </div>

        </div>
    </div>


    <div th:if="${loggedInUserEmail!='anonymousUser' and !allAuctions.isEmpty()}" class="panel panel-default">
        <div class="panel-heading" th:text="#{auction.latest}">
        </div>
        <div class="panel-body">
            <div th:each="auction, iterStat : ${allAuctions}"
                 th:if="${auction.status.toString().equals('ACTIVE') and iterStat.index &lt; 4}"
                 class="col-xs-3 col-xs-3 col-xs-3">
                <div class="center-form">
                    <h3>
                        <a th:text="${auction.title}" th:href="@{/auction/{id}/(id=${auction.id})}">TITLE</a>
                    </h3>
                    <img th:src="@{/auction/picture/{id}/{pictureId}(id=${auction.id}, pictureId=${0})}" width="100"
                         height="100"/>
                    <div>
                        <div>
                            <div class="task-start-time"
                                 th:text="'End time: ' + ${#temporals.format(auction.endDate, 'yyyy-MM-dd HH:mm')}">
                                2016:01:10 10:00
                            </div>
                            <div th:replace="html/snippets/auction/view/startingPrice">...</div>
                            <div class="last-bid-amount"
                                 th:text="'Highest bid amount: ' + ${bidRepository.findHighestBid(auction.id)!=null ? bidRepository.findHighestBid(auction.id).amount : '0'}">
                                unknown
                            </div>
                        </div>
                        <div class="row">
                            <a th:href="@{/auction/{id}/(id=${auction.id})}">
                                <button type="button" class="btn btn-primary"><span></span>View details</button>
                            </a>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>

        <div class="panel-footer">
            <a
                    th:href="@{/auctions/auctions-by-type/{type}/{sort}/1(type='ALL', sort='by-end-date')}">View
                all</a>
        </div>

    </div>
    <div th:each="auction, iterStat : ${myBids}"
         th:if="${auction.status.toString().equals('ACTIVE') and iterStat.index &lt; 4}">
        <div th:if="${loggedInUserEmail!='anonymousUser' and !myBids.isEmpty()}" class="panel panel-default">
            <div class="panel-heading" th:text="#{auction.myBids}">
            </div>
            <div class="panel-body">
                <div th:each="auction, iterStat : ${myBids}"
                     th:if="${auction.status.toString().equals('ACTIVE') and iterStat.index &lt; 4}"
                     class="col-xs-3 col-xs-3 col-xs-3">
                    <div class="center-form">
                        <h3>
                            <a th:text="${auction.title}" th:href="@{/auction/{id}/(id=${auction.id})}">TITLE</a>
                        </h3>
                        <img th:src="@{/auction/picture/{id}/{pictureId}(id=${auction.id}, pictureId=${0})}" width="100"
                             height="100"/>
                        <div>
                            <div>
                                <div class="task-start-time"
                                     th:text="'End time: ' + ${#temporals.format(auction.endDate, 'yyyy-MM-dd HH:mm')}">
                                    2016:01:10 10:00
                                </div>
                                <div th:replace="html/snippets/auction/view/startingPrice">...</div>
                                <div class="last-bid-amount"
                                     th:text="'Highest bid amount: ' + ${bidRepository.findHighestBid(auction.id)!=null ? bidRepository.findHighestBid(auction.id).amount : '0'}">
                                    unknown
                                </div>
                            </div>
                            <div class="row">
                                <a th:href="@{/auction/{id}/(id=${auction.id})}">
                                    <button type="button" class="btn btn-primary"><span></span>View details</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>

            <div class="panel-footer">
                <a
                        th:href="@{/auctions/auctions-by-type/{type}/{sort}/1(type='MYBIDS', sort='by-end-date')}">View
                    all</a>
            </div>

        </div>
    </div>

</div>
</body>
</html>