<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{application.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" th:src="@{/js/visma-additional.js}"></script>-->
    <script type="text/javascript" th:src="@{/dist/bundle.js}"></script>
    <script type="text/javascript" th:src="@{/dist/header.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/dist/notification.bundle.js}"
            th:if="${loggedInUserEmail!='anonymousUser'}"></script>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/nc.css}"/>

</head>
<body onload="notification.getNotificationNumber();">
<nav class="navbar navbar-default navbar-static">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle " type="button" data-toggle="collapse"
                    data-target=".bs-example-js-navbar-collapse" th:if="${loggedInUserEmail!='anonymousUser'}">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/home" th:text="#{application.headerText}"></a>
        </div>

        <div class="collapse navbar-collapse bs-example-js-navbar-collapse"
             th:if="${loggedInUserEmail!='anonymousUser'}">
            <ul class="nav navbar-nav">
                <li class="first-level-item dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       data-target="#">Auctions

                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/auctions/auctions-by-type/{type}/{sort}/1(type='ALL', sort='by-end-date')}"
                               th:text="#{auction.allAuctions}">ALL</a></li>
                        <li th:if="false">
                            <a th:href="@{/auctions/auctions-by-type/{type}/{sort}/1(type='PRIVATE', sort='by-end-date')}"
                               th:text="#{auction.private}">PRIVATE</a></li>
                        <li>
                            <a th:href="@{/auctions/auctions-by-type/{type}/{sort}/1(type='PUBLIC', sort='by-end-date')}"
                               th:text="#{auction.public}">PUBLIC</a></li>
                    </ul>

                </li>
                <li class="first-level-item"><a th:href="@{/createAuction}" th:text="#{auction.create}">Create
                    auction</a></li>
                <li class="first-level-item"><a
                        th:href="@{/auctions/auctions-by-type/{type}/{sort}/1(type='MY', sort='by-end-date')}"
                        th:text="#{auction.myAuctions}">My auctions</a></li>
                <li class="first-level-item"><a
                        th:href="@{/auctions/auctions-by-type/{type}/{sort}/1(type='MYBIDS', sort='by-end-date')}"
                        th:text="#{auction.myBids}">My bids</a></li>
                <li class="first-level-item"><a
                        th:href="@{/auctions/auctions-by-type/{type}/{sort}/1(type='WON', sort='by-end-date')}"
                        th:text="#{auction.wonAuctions}">Won auctions</a></li>
                <li class="first-level-item"><a
                        th:href="@{/report-bug}" th:text="#{report.bug}">Report Bug</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <form th:action="@{/notifications}" th:object="${notifications}"
                      enctype="multipart/form-data" method="post" class="form-horizontal">
                    <div>
                        <ul class="nav navbar-nav navbar-right" th:if="${loggedInUserEmail!='AnonymousUser'}">
                            <li><p class="navbar-text navbar-right"
                                   th:text="${'Signed in as ' + loggedInUserNameAndSurname}"></p>
                            </li>

                            <li id="noti_Container">
                            <span class="vismaicon vismaicon-menu vismaicon-message" id="noti_Button"
                                  onclick="notification.getNotificationList();">
                            </span>
                                <div class="button__badge" id="notification_badge" style="visibility: hidden"></div>
                                <div id="notifications">
                                    <div id="scrollDiv" style="overflow-y:scroll">
                                        <div id="notificationDiv"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="icon">
                                <a th:href="@{/logout}">
                                    <span class="vismaicon vismaicon-menu vismaicon-logout"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </form>
            </ul>
        </div>
    </div>
</nav>
<div class="content">
    <div layout:fragment="content"></div>
</div>
<footer class="footer" th:if="false">
    <p>
        Copyright ©2016
        <img src="/css/img/visma-logo.svg"/>
    </p>
</footer>
</body>
</html>