<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Seli Auction</title>
</head>
<body>
<div layout:fragment="content">

    <div class="login-container">
        <div class="login-form-header">
            Seli login
        </div>
        <div class="login-form-content">
            <div>
                <form th:action="@{/}" method="post">
                    <div class="form-group">
                        <label for="userEmail">Email address:</label>
                        <input type="email" class="form-control" name="userEmail" id="userEmail"
                               th:placeholder="#{login.user.email}"/>
                    </div>
                    <div class="form-group">
                        <label for="userPassword">Password:</label>
                        <input type="password" class="form-control" name="userPassword" id="userPassword"
                               th:placeholder="#{login.user.password}"/><br/>
                    </div>
                    <div class="row login-form">
                        <input type="submit" class="btn btn-default" th:value="#{login.save}"/>
                        <a class="btn btn-google" th:href="@{/login/google}" th:text="#{google.login}">Google login</a>
                    </div>

                    <div style="color: white" th:unless="${#httpServletRequest.getParameter('login-error') == null}"
                         class="error-message">
                        Invalid username and password.
                    </div>
                </form>
            </div>

            <div th:if="${loggedInUserEmail=='anonymousUser'}" class="login-form">
                <a class="btn btn-default" th:href="@{/registration}"
                   th:text="#{registration.annotation}">Registration</a>
            </div>
            <div th:if="${loggedInUserEmail=='anonymousUser'}" class="login-form">
                <p style="line-height:300%;"></p>
                <a type="submit" class="btn btn-default" th:href="@{/anonymousAuctionUser}">Create auction</a>
            </div>

        </div>
    </div>

</div>
</body>
</html>