<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>

    <div th:replace="html/snippets/auction/view/header">...</div>

</head>
<body onload="getPictureSize();">
<div layout:fragment="content">
    <div class="col-md-12">
        <div th:replace="html/snippets/auction/anonymous/view/auctionDeletedHelpLinks">...</div>
        <div class="panel panel-default"
             th:if="${!auction.status.toString().equals('DELETED')}">
            <div class="panel-heading">
                <h1 th:text="${auction.title}"></h1>
            </div>
            <div class="panel-body">
                <div th:replace="html/snippets/auction/view/anonymous-pictures">...</div>
                <div class="col-md-5">
                    <div th:replace="html/snippets/auction/view/information">...</div>
                    <b>
                        <div th:replace="html/snippets/auction/view/timeRemaining">...</div>
                    </b> <br/>
                    <div th:replace="html/snippets/auction/view/bid/biddingInformation">...</div>
                    <div th:replace="html/snippets/auction/view/enterAmount">...</div>
                    <form th:if="${!auction.status.toString().equals('ENDED')}"
                          th:action="@{/auction/placeBidAnonymously/{userUuid} (userUuid=${uuid})}"
                          th:object="${auctionBid}" method="post" class="form-horizontal">
                        <div class="form-group">
                            <div th:replace="html/snippets/auction/view/bid/bidInput">...</div>
                        </div>

                        <div th:replace="html/snippets/auction/view/bid/bidAmountInformation">...</div>
                        <div th:replace="html/snippets/auction/view/bid/allowToBidForQuantity">...</div>
                        <div th:replace="html/snippets/auction/view/bid/bidding-quantity">...</div>

                        <input class="btn btn-primary" type="submit" value="Place bid"/>
                        <div class="form-group"
                             th:if="${auction.getLastTimeForInvitations()}">
                            <div class="col-sm-4">
                                <a
                                        th:href="@{/anonymousAuction/anonymousInvite/{uuid}(uuid=${uuid})}"
                                        class="btn btn-primary">Invite</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div th:replace="html/snippets/auction/view/link">...</div>
                <div th:replace="html/snippets/auction/view/description">...</div>
            </div>
        </div>

        <div th:replace="html/snippets/auction/view/commenting">...</div>
    </div>
</div>
</body>
</html>