<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<div th:replace="html/snippets/auction/view/header">...</div>
</head>
<body onload="getPictureSize();">

	<div layout:fragment="content">

		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 th:text="${auction.title}"></h1>
				</div>
				<div class="panel-body">
					<div th:replace="html/snippets/auction/view/anonymous-pictures">...</div>
					<div class="col-md-5">
                        <div th:replace="html/snippets/auction/view/information">...</div>
						<b>
							<div id="auction-time-remaining"
								th:if="${timeRemaining > 0 and !auction.status.toString().equals('DELETED')}"
								th:text="#{auction.view.timeRemaining}">unknown</div>
						</b> <br />
						<div class="bids">
							<b
								th:text="'[' + ${amountOfBids} + ' ' + #{auction.view.bids} +']'"></b>
							<div th:if="${lastBidder != null}">
								<span
									th:text="#{auction.view.highestBidder} + ' ' + ${highestBidder.name}"></span>
							</div>
							<br /> <span th:text="#{auction.view.currentBid} + ' '"></span><strong
								th:text="${highestBid}"></strong><strong
								th:text="' (' + ${auction.currency.toString().equals('EUR') ? '€' : auction.currency } +')'"></strong>
							<br /> <br />
						</div>
						<div th:if="${!auction.status.toString().equals('ENDED')}">
							<a th:if="${!auction.status.toString().equals('DELETED') }"
							   th:href="@{/auction/deleteAnonymous/{uuid}(uuid=${uuid})}"
							   onclick="return confirm('Are you sure you want to delete this item?')"
							   class="btn btn-danger">Delete this auction</a>
							<h1 th:if="${auction.status.toString().equals('DELETED')}">Auction
								has been deleted</h1>
						</div>
					</div>
					<div class="form-group"
						th:if="${auction.getLastTimeForInvitations() and !auction.status.toString().equals('ENDED')}">
						<div class="col-sm-4">
							<a
								th:href="@{/anonymousAuctionOwner/anonymousInvite/{uuid}(uuid=${uuid})}"
								class="btn btn-primary">Invite</a>
						</div>
					</div>
					<div th:replace="html/snippets/auction/view/link">...</div>
					<div th:replace="html/snippets/auction/view/description">...</div>
				</div>
			</div>
			<div th:replace="html/snippets/auction/view/commenting">...</div>
		</div>

	</div>
</body>
</html>