<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>Seli Auction</title>
</head>

<body>
<div layout:fragment="content">

    <div class="login-container">
        <div class="anonymousLogin-form-header">
            User information
        </div>
        <div class="login-form-content">
            <form th:action="@{/newAnonymousAuction/}" th:object="${anonymousUser}" enctype="multipart/form-data"
                  method="post">
                <div class="form-group">
                    <label for="email">Email: *</label>
                    <input type="text" id="email" th:field="*{email}" th:placeholder="#{anonymous.email}"
                           th:errorclass="field-error" class="form-control"/>
                    <div th:if="${#fields.hasErrors('email')}" class="error-message" th:errors="*{email}"/>
                </div>
                <div class="form-group">
                    <label style="float: left" for="phone">Phone: </label><br/><br/>
                    <input type="text" value="+370" disabled="true" style="width:20%; float: left"/><input id="phone" type="text" class="form-control" th:field="*{phone}" style="width:80%"
                           th:placeholder="#{registration.phone}" th:errorclass="field-error"/>
                    <div th:if="${#fields.hasErrors('phone')}" class="error-message" th:errors="*{phone}"/>
                </div>
                <br/>
                <div class="row login-form">
                    <input type="submit" class="btn btn-primary" th:value="Next"></input>
                    <a class="btn btn-primary" th:href="@{/}" th:text="#{home.back}">Go back</a>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>