<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>

    <div th:replace="html/snippets/auction/view/header">...</div>
    <script type="text/javascript" th:src="@{/dist/auctionCreateMain.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/dist/auctionViewJS.bundle.js}"></script>

</head>
<body onload="getPictureSize()">
<div layout:fragment="content">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 th:text="${auction.title}"></h1>
            </div>
            <div class="panel-body">
                <div th:replace="html/snippets/auction/view/pictures">...</div>
                <div class="col-md-6">
                    <div th:replace="html/snippets/auction/view/information">...</div>
                    <b>
                        <div th:replace="html/snippets/auction/view/timeRemaining">...</div>
                        <div id="auction-deleted"
                             th:if="${auction.status.toString().equals('DELETED')}">DELETED
                        </div>
                        <div th:replace="html/snippets/auction/view/rateOwner">...</div>
                    </b> <br/>
                    <div th:replace="html/snippets/auction/view/bid/biddingInformation">...</div>
                    <form
                            th:if="${(((loggedInUserIsAuctionOwner and auction.currency.toString().equals('KUDOS')) or !loggedInUserIsAuctionOwner)
                                and (!auction.status.toString().equals('ENDED')) and auctionStarted and (!auction.status.toString().equals('DELETED')))}"
                            th:action="@{/auction/placeBid/{id} (id=${auction.id})}"
                            th:object="${auctionBid}" method="post" class="form-horizontal">
                        <div th:replace="html/snippets/auction/view/enterAmount">...</div>
                        <div th:replace="html/snippets/auction/view/buyout">...</div>
                        <div th:replace="html/snippets/auction/view/bid/bidAmountInformation">...</div>
                        <div th:replace="html/snippets/auction/view/bid/allowToBidForQuantity">...</div>
                        <div th:replace="html/snippets/auction/view/bid/bidding-quantity">...</div>

                        <input class="btn btn-primary" type="submit" value="Place bid"/>
                    </form>
                </div>
                <div th:replace="html/snippets/auction/view/deleteUpdateInvite">...</div>
                <div th:replace="html/snippets/auction/view/acceptOrDecline">...</div>
                <div th:replace="html/snippets/auction/view/link">...</div>
                <div th:replace="html/snippets/auction/view/description">...</div>
            </div>
        </div>

        <div th:replace="html/snippets/auction/view/commenting">...</div>
    </div>
</div>
</body>
</html>