<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>

    <script type="text/javascript"
            th:src="@{/js/jquery.autocomplete.js}"></script>
    <script type="text/javascript"
            th:src="@{/js/bootstrap-slider.js}"></script>

    <title>Seli Auction</title>

    <style>
        .img-thumbnail {
            max-width:100%;
            max-height:100%;
            display: block; 
            margin-left: auto; 
            margin-right: auto;
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="col-sm-10">
                <div id="filter">
                    <form th:action="@{/auctions/auctions-by-type/{type}/{sort}/filter/{pageNumber}(type=${type}, sort=${sort}, pageNumber=${currentIndex})}"
                          th:object="${filter}" method="get" class="form-horizontal">
                        <div class="form-group">
                            <h3 for="currency">Select currency: </h3>
                            <label>
                                <input type="checkbox" class="currency" name="option" th:field="*{currency}"
                                       value="EUR"/>Euros <br/>
                            </label>
                            <label>
                                <input type="checkbox" class="currency" name="option" th:field="*{currency}"
                                       value="KUDOS"/>Kudos<br/>
                            </label>
                        </div>
                        <div class="form-group" th:if="false">
                            <h3 for="price">Starting price range: </h3>
                            <div class="flex-range">
                                <b id="min" th:text="${minimum}">minPrice</b>
                                <input id="ex2" type="text" th:field="*{priceRange}" class="span2"/>
                                <b id="max" th:text="${maximum}">maxPrice</b>
                            </div>
                            <script type="text/javascript" th:inline="javascript">
                                var lowestPrice = parseInt($("#min").text());
                                var highestPrice = parseInt($("#max").text());
                                var setMinimum = [[${filter.minPrice}]];
                                var setMaximum = [[${filter.maxPrice}]];
                                $("#ex2").slider({
                                    min: lowestPrice,
                                    max: highestPrice,
                                    range: true, value: [setMinimum, setMaximum],
                                    step: 1,
                                });

                            </script>
                        </div>
                        <div class="form-group">
                            <h3 for="auctionOwner">Auction owner: </h3>
                            <input type="text" id="auctionOwner" th:field="*{auctionOwner}"
                                   th:placeholder="#{filter.auctionOwner}" value="auctionOwner"/><br/>
                        </div>
                        <br/>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Filter</button>
                        </div>
                    </form>
                </div>
                <script th:inline="javascript">
                    $(document).ready(function () {
                        $('#auctionOwner').autocomplete({
                            minChars: 3,
                            serviceUrl: '/getTags?type='.concat([[${type.toString()}]]),
                            type: "GET",
                            paramName: "query",
                            delimiter: ",",
                            transformResult: function (response) {
                                return {
                                    suggestions: $.map($.parseJSON(response), function (item) {

                                        return {value: item, data: item.id};
                                    })
                                };
                            }
                        });
                         $("#wrapper").toggleClass("toggled");
                    });
                </script>
            </div>
        </div>

        <div th:if="${loggedInUserEmail!='anonymousUser'}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="container-fluid panel-container">
                        <div class="col-xs-3 text-left">
                            <a href="#menu-toggle" class="vismaicon vismaicon-menu-circle" id="menu-toggle"></a>
                        </div>
                        <div class="col-xs-6 text-center">
                            <div class="panel-title" th:text="${type.toString().equals('MYBIDS') ? 'My bid' : type} + ' auctions'"></div>
                        </div>
                        <div class="col-xs-3 pull right">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Sort
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem"
                                                               th:href="@{|${baseUrl}${currentIndex}(sort=${'BY_END_TIME'},currency=${filter.currency},priceRange=${filter.priceRange},auctionOwner=${filter.auctionOwner})}">End
                                        date</a></li>
                                    <li role="presentation"><a role="menuitem"
                                                               th:href="@{|${baseUrl}${currentIndex}(sort=${'BY_START_DATE'},currency=${filter.currency},priceRange=${filter.priceRange},auctionOwner=${filter.auctionOwner})}">Start
                                        date</a></li>
                                    <li role="presentation"><a role="menuitem"
                                                               th:href="@{|${baseUrl}${currentIndex}(sort=${'BY_PRICE'},currency=${filter.currency},priceRange=${filter.priceRange},auctionOwner=${filter.auctionOwner})}">Starting
                                        price</a></li>
                                    <li role="presentation"><a role="menuitem"
                                                               th:href="@{|${baseUrl}${currentIndex}(sort=${'BY_TITLE'},currency=${filter.currency},priceRange=${filter.priceRange},auctionOwner=${filter.auctionOwner})}">Title</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div th:each="auction : ${allAuctions}">
                        <div class="row auction-listing">
                            <div class="col-md-4" style="height: 250px">
                                <a th:href="@{/auction/{id}/(id=${auction.id})}">
                                    <img class="img-thumbnail"
                                         th:src="@{/auction/picture/{id}/{pictureId}(id=${auction.id}, pictureId=${0})}"
                                         />
                                </a>
                            </div>
                            <div class="col-md-5">
                                <a th:text="${auction.title}" th:href="@{/auction/{id}/(id=${auction.id})}">TITLE</a>
                                <div class="task-start-time"
                                     th:text="'End time: ' + ${#temporals.format(auction.endDate, 'yyyy-MM-dd HH:mm')}">
                                    2016:01:10 10:00
                                </div>
                                <div class="task-time-remaining" th:if="${auction.status.toString().equals('ACTIVE')}"
                                     th:text="'Time remaining: ' + ${auctionService.getTimeRemaining(auction.id)}">
                                    unknown
                                </div>
                                <div th:replace="html/snippets/auction/view/startingPrice">...</div>
                                <div class="bids">
                                    <b th:text="'[' + ${auction.bidsQuantity} + ' ' + #{auction.view.bids} +']'"></b>
                                </div>
                                <div class="last-bid-amount"
                                     th:text="'Highest bid amount: ' + ${auctionTolastBid.get(auction.id)!=null ? auctionTolastBid.get(auction.id).amount : '0'}">
                                     <!--th:text="'Last bid amount: ' + ${auctionTolastBid.get(auction.id)!=null ? auctionTolastBid.get(auction.id).amount : '0'}">-->
                                    unknown
                                </div>
                                <div class="status" th:text="'Status: ' + ${auction.status}">unknown</div>
                                <div class="auction-type" th:text="'Type: ' + ${auction.type}">unknown</div>
                                <div th:if="${userRepository.getUserById(auction.ownerId)!=null}" class="auction-owner"
                                     th:text="'Auction owner: ' + ${userRepository.getUserById(auction.ownerId).name} + ' ' + ${userRepository.getUserById(auction.ownerId).surname}">
                                    unknown
                                </div>
                                <div class="row">
                                    <a th:href="@{/auction/{id}/(id=${auction.id})}">
                                        <button type="button" class="btn btn-primary"><span></span>View details</button>
                                    </a>
                                    <a th:if="${auctionsToAcceptOrDecline != null and auctionsToAcceptOrDecline.contains(auction)}"
                                       th:href="@{/auction/{id}/accept-invitation(id=${auction.id})}">
                                        <button type="button" class="btn btn-primary"><span></span>Accept invitation
                                        </button>
                                    </a>
                                    <a th:if="${auctionsToAcceptOrDecline != null and auctionsToAcceptOrDecline.contains(auction)}"
                                       th:href="@{/auction/{id}/decline-invitation(id=${auction.id})}">
                                        <button type="button" class="btn btn-danger"><span></span>Decline invitation
                                        </button>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <br/>
                    </div>
                </div>

                <div th:if="${loggedInUserEmail!='anonymousUser'}" class="col-md-12 text-center">
                    <div class="pagination pagination-centered">
                        <ul class="pagination">
                            <li th:class="${currentIndex == 1}? 'disabled' : ''"><span
                                    th:if="${currentIndex==1}">First</span> <a th:if="${currentIndex!=1}"
                                                                               th:href="@{|${baseUrl}${1}(sort=${sort},currency=${filter.currency},priceRange=${filter.priceRange},auctionOwner=${filter.auctionOwner})}">First</a>
                            </li>
                            <li th:class="${currentIndex != 1}? '' : 'disabled'"><span
                                    th:if="${currentIndex==1}">&#171;</span> <a th:if="${currentIndex!=1}"
                                                                                th:href="@{|${baseUrl}${currentIndex - 1}(sort=${sort},currency=${filter.currency},priceRange=${filter.priceRange},auctionOwner=${filter.auctionOwner})}"
                                                                                title="Go to previous page">&#171;</a>
                            </li>
                            <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                                th:class="${item == currentIndex ? 'active' : ''}"><span th:if="${item==currentIndex}"
                                                                                         th:text="${item}">1</span> <a
                                    th:if="${item!=currentIndex}"
                                    th:href="@{|${baseUrl}${item}(sort=${sort},currency=${filter.currency},priceRange=${filter.priceRange},auctionOwner=${filter.auctionOwner})}">
                                <span th:text="${item}">1</span></a></li>
                            <li th:class="${currentIndex!=totalPageCount}? '' : 'disabled'"><span
                                    th:if="${currentIndex==totalPageCount}">&#187;</span><a
                                    th:if="${currentIndex != totalPageCount}"
                                    th:href="@{|${baseUrl}${currentIndex + 1}(sort=${sort},currency=${filter.currency},priceRange=${filter.priceRange},auctionOwner=${filter.auctionOwner})}"
                                    title="Go to next page">&#187;</a></li>
                            <li th:class="${currentIndex == totalPageCount}? 'disabled' : ''"><span
                                    th:if="${currentIndex == totalPageCount}">Last</span><a
                                    th:if="${currentIndex != totalPageCount}"
                                    th:href="@{|${baseUrl}${totalPageCount}(sort=${sort},currency=${filter.currency},priceRange=${filter.priceRange},auctionOwner=${filter.auctionOwner})}">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</div>

</body>
</html>