<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>Seli Auction</title>

    <link rel="stylesheet" type="text/css"
          th:href="@{/css/prettify-1.0.css}"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap-datetimepicker.css}"/>

    <script type="text/javascript" th:src="@{/js/bootstrap-clockpicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.js}"></script>

    <!--<script type="text/javascript" th:src="@{/js/anonymous-auction-create-main.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/js/invitation.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/auctionCreationCommon.js}"></script>
    <script type="text/javascript" th:src="@{/js/createAuctionValidation.js}"></script>
    <script type="text/javascript" th:src="@{/dist/addRemovePicture.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/dist/auctionCreateMain.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/dist/editAuctionMain.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/dist/invitation.bundle.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            editAuctionMain.changeStartingPriceSteps();

            var allowToBidForQuantityInput = $('#allowToBidForQuantityInput');

            auctionCreateMain.allowToBidForQuantityChanged();

            allowToBidForQuantityInput.on('change', function () {
                auctionCreateMain.allowToBidForQuantityChanged();
            });

        });
        $(document).ready(function () {
            $('#all-emails input').not(':button').not(':last').each(function (index) {
                if($(this).val() != null)
                    invitation.createInputDeleteLink($(this));
            });
        });

    </script>
    
</head>
<body onload="
            addRemovePicture.showPicturesList();
            addRemovePicture.pictureNamePrint();
            invitation.showInvList();
            notification.getNotificationNumber();">
<!--/*@thymesVar id="auction" type="com.example.auction.AuctionBody"*/-->
<div layout:fragment="content">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Create anonymous
                auction
            </div>
            <form
                    th:action="@{/createAnonymousAuction}"
                    th:object="${auction}" enctype="multipart/form-data" method="post"
                    class="form-horizontal"
                    onsubmit="addRemovePicture.insertUUIDList();"
                    onload="addRemovePicture.pictureNamePrint();">
                <div class="panel-body">

                    <div th:replace="html/snippets/auction/create/titleAndDescription">...</div>
                    <div th:replace="html/snippets/auction/create/startingPriceAndSpecificQuantity">...</div>

                    <div>
                        <select th:field="*{type}" hidden="hidden">
                            <option value="PRIVATE" hidden="hidden"></option>
                        </select> <select th:field="*{currency}" hidden="hidden">
                        <option value="EUR" hidden="hidden"></option>
                    </select>
                        <div th:if="${#fields.hasErrors('currency')}"
                             class="error-message" th:errors="*{currency}"></div>
                        <div th:if="${#fields.hasErrors('type')}" class="error-message"
                             th:errors="*{type}"></div>
                        <br/>
                    </div>
                    
                    <div th:replace="html/snippets/auction/create/datesAndInvitationAndPicturesAndSubmit">...</div>

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>