<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:visibility="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>

    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap-datetimepicker.css}"/>

    <script type="text/javascript" th:src="@{/js/bootstrap-clockpicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment-with-locales.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/auctionCreationCommon.js}"></script>
    <script type="text/javascript" th:src="@{/dist/editAuctionMain.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/createAuctionValidation.js}"></script>
    <script type="text/javascript" th:src="@{/dist/invitation.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/dist/addRemovePicture.bundle.js}"></script>

    <style>
        .error-message {
            max-width: 100px;
        }


    </style>
    <script th:inline="javascript">
        $(document).ready(function () {
            editAuctionMain.changeStartingPriceSteps();
        });
        $(document).ready(function () {
            $('#all-emails input').not(':button').not(':last').each(function (index) {
                if ($(this).val() != null)
                    invitation.createInputDeleteLink($(this));
            });
        });


    </script>
    <title>Edit auction</title>
</head>
<body onload="addRemovePicture.showPicturesList();
            addRemovePicture.pictureNamePrint();
            invitation.showInvList();
            notification.getNotificationNumber();">
<div layout:fragment="content">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Update auction</div>
            <br/>
            <form onsubmit="addRemovePicture.insertUUIDList(); addRemovePicture.DoOnSubmit();"
                  th:action="@{/auction/update/{id} (id=${auction.id})}"
                  th:object="${auction}" method="post" enctype="multipart/form-data"
                  class="new-task-form">
                <div class="panel-body">
                    <table class="center">
                        <tr>
                            <td>Title:</td>
                            <td><input type="text" th:field="*{title}"
                                       th:errorclass="field-error" th:readonly="true"/></td>
                            <td>
                                <div th:if="${#fields.hasErrors('title')}" class="error-message"
                                     th:errors="*{title}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Auction type:</td>
                            <td><input type="text" th:field="*{type}"
                                       th:errorclass="field-error" th:readonly="true"/></td>
                            <td>
                                <div th:if="${#fields.hasErrors('type')}" class="error-message"
                                     th:errors="*{type}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Start date:</td>
                            <td>
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' class="form-control" id="startdate"
                                           th:field="*{startDate}" th:placeholder="#{auction.start.date}"
                                           th:readonly="true"/>
                                </div>
                            </td>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker2').datetimepicker({
                                        locale: 'lt'
                                    });
                                });

                            </script>
                        </tr>
                        <tr>
                            <td>End date:</td>
                            <td>
                                <div class='input-group date' id='datetimepicker3'>
                                    <input class="form-control" id="enddate" th:field="*{endDate}"
                                           th:placeholder="#{auction.end.date}"
                                           th:errorclass="field-error" th:readonly="true"/>
                                    <div th:if="${#fields.hasErrors('endDate')}"
                                         class="error-message" th:errors="*{endDate}"></div>
                                    <span style="visibility: hidden" id="uselessButton"
                                          class="input-group-addon"> <span
                                            class="glyphicon glyphicon-calendar"></span>
									</span>
                                </div>
                            </td>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker3').datetimepicker({
                                        locale: 'lt'
                                    });
                                });

                            </script>
                            <td><a onclick="editAuctionMain.changeEndDate()" id="changeEndDateButton">Change</a></td>
                            <td><a hidden="true" onclick="editAuctionMain.acceptChangeEndDate()"
                                   id="acceptChangeEndDate">Accept</a></td>
                        </tr>
                        <tr th:hidden="true">
                            <td><input type="checkbox" th:field="*{allowToBidForQuantity}"
                                       th:checked="${auction.allowToBidForQuantity}"/></td>
                        </tr>
                        <tr th:hidden="${!auction.allowToBidForQuantity}">
                            <td>Item quantity:</td>
                            <td><input type="number" th:field="*{itemQuantity}"
                                       th:errorclass="field-error"/></td>
                            <td>
                                <div th:if="${#fields.hasErrors('itemQuantity')}"
                                     class="error-message" th:errors="*{itemQuantity}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td><textarea rows="5" cols="25" th:field="*{description}"
                                          th:placeholder="#{auction.item.description}"
                                          th:errorclass="field-error"></textarea></td>
                            <td>
                                <div th:if="${#fields.hasErrors('description')}"
                                     class="error-message" th:errors="*{description}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Starting price:</td>
                            <td><input id="startingPriceSteps" type="number"
                                       th:field="*{startingPrice}"
                                       th:placeholder="#{auction.starting.price}"
                                       th:errorclass="field-error" th:readonly="${numberOfBids} > 0 ? 'readonly' : false"/></td>
                            <td>
                                <div th:if="${#fields.hasErrors('startingPrice')}"
                                     class="error-message" th:errors="*{startingPrice}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Currency:</td>
                            <td><input id="changeOnType" type="text"
                                       th:field="*{currency}" th:errorclass="field-error"
                                       th:readonly="true"/></td>
                            <td>
                                <div th:if="${#fields.hasErrors('currency')}"
                                     class="error-message" th:errors="*{currency}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Description link:</td>
                            <td><input type="text" th:field="*{link}"
                                       th:placeholder="#{auction.link}" th:errorclass="field-error"/></td>
                        </tr>

                        <tr th:each="pictures : ${pictureList}">
                            <td><label th:text="${pictures.pictureName}"></label></td>
                            <td><a class="btn btn-danger"
                                   th:href="@{/delete-photos/{pictureId} (pictureId=${pictures.pictureId})}">Delete
                                photo</a></td>
                        </tr>


                        <tr class="form-group" id="all-pictures">
                            <td>Select new picture:</td>
                            <td><input id="add-picture" type="file"
                                       onchange="addRemovePicture.addNewPicture()"
                                       th:placeholder="#{auction.pictureFiles}"
                                       accept=".jpg, .png, .jpeg"/></td>
                            <td>
                                <div th:if="${#fields.hasErrors('pictureFiles')}"
                                     class="error-message" th:errors="*{pictureFiles}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><br/><br/></td>
                        </tr>
                        <tr class="form-group" id="added-pictures"
                            style="visibility: hidden">
                            <td>Added pictures:</td>
                            <td>
                                <div style="width: 300px; word-wrap: break-word;" class="col-sm-1"
                                     id="picture-name-list"></div>
                            </td>
                        </tr>
                    </table>
                </div>

                <br/>
                <div style="visibility: hidden" id="auction-picture-uuid-list">
                    <select id="uuidList" th:field="*{listOfPhotosUUUID}">

                    </select>
                </div>

                <div class="center-form">
                    <td>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </td>
                    <a class="btn btn-primary" th:href="@{/auction/{id}/ (id=${auction.id})}" th:text="#{home.back}">Go
                        back</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>