
<div class="row" id="testAcceptance">
    <a th:if="${isUserCurrentWinner}"
       th:href="@{/auction/{id}/accept-win(id=${auction.id})}">
        <button type="button" class="btn btn-primary">
            <span></span>Accept Offer
        </button>
    </a> <a th:if="${isUserCurrentWinner}"
            th:href="@{/auction/{id}/decline-win(id=${auction.id})}">
    <button type="button" class="btn btn-primary">
        <span></span>Decline Offer
    </button>
</a>
</div>