<div class="col-md-4">
    <a th:if="${numberOfAuctionPictures == 1 || numberOfAuctionPictures == 0}" class="fancybox {type: 'image'}" rel="gallery1"
       th:href="@{/auction/anonymous/picture/{uuid}/0 (uuid=${uuid})}">
        <img style="width:400px;height:300px;"
             th:src="@{/auction/anonymous/picture/{uuid}/0 (uuid=${uuid})}"
             class="img-thumbnail" alt="" />
    </a>
    <div th:if="${numberOfAuctionPictures &gt; 1}" class="container">
        <div id="main_area">
            <!-- Slider -->
            <div class="row">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-4" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div
                                            th:each="pictureId : ${#numbers.sequence(0, numberOfAuctionPictures-1)}"
                                            th:class="${pictureId == 0 ? 'active item' : 'item'}"
                                            th:data-slide-number="${pictureId+1}">
                                        <a class="fancybox" rel="gallery1"
                                           th:href="@{/auction/anonymous/picture/{uuid}/{pictureId}(uuid=${uuid}, pictureId=${pictureId})}">
                                            <img style="width:400px;height:300px;"
                                                 th:src="@{/auction/anonymous/picture/{uuid}/{pictureId}(uuid=${uuid}, pictureId=${pictureId})}"
                                                 class="img-thumbnail" alt="" />
                                        </a>
                                    </div>

                                </div>
                                <!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel"
                                   role="button" data-slide="prev"> <span
                                        class="glyphicon glyphicon-chevron-left"></span>
                                </a> <a class="right carousel-control" href="#myCarousel"
                                        role="button" data-slide="next"> <span
                                    class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            </div>
                        </div>

                        <div class="col-sm-4" id="carousel-text"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>