<div class="form-group">
    <a th:if="${auction.allowBuyOut}"
       th:text="${'Buy it now for ' + auction.buyOutPrice}"
       th:href="@{/auction/buyout/{id}(id=${auction.id})}">Buy it
        now</a>
    <div th:replace="html/snippets/auction/view/bid/bidInput">...</div>
</div>