<div xmlns:th="http://www.w3.org/1999/xhtml" class="panel panel-default"
     th:if="${(not #lists.isEmpty(comments) and !auction.status.toString().equals('ACTIVE')) or auction.status.toString().equals('ACTIVE')}">
    <div class="panel-body">

        <div class="col-md-12">
            <!--<strong id="description" th:text="${auction.description}">description</strong>-->

            <div class="containerr">
                <div class="row">
                    <div class="col-sm-12 col-sm" id="logout">
                        <div class="panel-heading">
                            <h2 class="reviews">Leave your comment</h2>
                        </div>
                        <div class="comment-tabs">

                            <div class="tab-content">
                                <div class="tab-pane active" id="comments-logout">
                                    <ul class="media-list">

                                        <li class="media" th:each="comment : ${comments}">
                                            <div class="media-body">
                                                <div class="well well-lg">
                                                    <h4 class="media-heading text-uppercase reviews"
                                                        th:text="${comment.name}">Marco</h4>
                                                    <h4
                                                            class="media-date text-uppercase reviews list-inline"
                                                            th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}">
                                                        Marco
                                                    </h4>
                                                    <p class="media-comment" th:text="${comment.text}"
                                                       th:id="${comment.id}">Great
                                                        snippet! Thanks for sharing.</p> <!--style="width: 1110px;"-->
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div th:if="${auction.status.toString().equals('ACTIVE')}" class="tab-pane"
                                         id="add-comment">
                                        <form
                                                th:action="@{/{type}/{id}/post-comment (id=${auction.isAnonymous ? uuid : auction.id}, type=${auction.isAnonymous ? 'anonymousAuction' : 'auction'})}"
                                                th:object="${newComment}" method="post"
                                                class="form-horizontal">

                                            <div class="form-group">
                                                <label for="userComment" class="col-sm-1 control-label">Comment</label>
                                                <div class="col-sm-11">
                                                                <textarea th:field="*{text}" class="form-control"
                                                                          id="addComment" rows="5"
                                                                          th:errorclass="field-error"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    <div th:if="${#fields.hasErrors('text')}"
                                                         class="error-message" th:errors="*{text}"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button
                                                            class="btn btn-primary btn-circle text-uppercase"
                                                            type="submit" id="submitComment" onsubmit="auctionViewJS.trimComments([[${newComment}]])">
                                                        <span class="glyphicon glyphicon-send"></span> Submit
                                                        comment
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>