<div class="col-md-2"
     th:if="${!auction.status.toString().equals('ENDED') and !auction.status.toString().equals('DELETED')}">
    <a th:if="${loggedInUserIsAuctionOwner}"
       th:href="@{/auction/delete/{id}(id=${auction.id})}"
       onclick="return confirm('Are you sure you want to delete this item?')"
       class="btn btn-danger">Delete this auction</a>
    <a th:if="${loggedInUserIsAuctionOwner}"
       th:href="@{/auction/update/{id}(id=${auction.id})}"
       class="btn btn-default">Update this auction</a> <a
        th:href="@{/auction/invite/{id}(id=${auction.id})}"
        th:if="${((isLoggedInUserInvitedToAuction and !auction.type.toString().equals('PRIVATE')) || loggedInUserIsAuctionOwner ) and
                        auction.getLastTimeForInvitations()}"
        class="btn btn-primary">Invite</a>
    <div th:if="${loggedInUserIsAuctionOwner}" th:style="${auction.invitations.size() &lt; 1 ? 'visibility: hidden' : ''}">
        <b>Invitations: <br/></b>
        <select id="invitations"
                onload="invitationSelectionChanged()" style="width: 160px">
            <option th:each="invitation : ${auction.invitations}"
                    th:value="${invitation.id}" th:text="${invitation.email}">email@email.com
            </option>
        </select> <br/> <a id="link-for-invitation">Re-invite selected</a> <br/>
    </div>
</div>