<script type="text/javascript" th:src="@{/dist/pictureDefaultSize.bundle.js}"></script>
<script type="text/javascript" th:src="@{/dist/auctionTimer.bundle.js}"></script>
<script xmlns:th="http://www.w3.org/1999/xhtml"></script>

<script xmlns:th="http://www.w3.org/1999/xhtml">
    jQuery(document).ready(function ($) {
        $("#rating-input-id")
            .on("rating.clear", function (event) {
                $.ajax({
                    url: "delete-user-rating", success: function (result) {
                    }
                });
            }).on("rating.change", function (event, value) {
            $.ajax({
                url: "rate-owner", data: {rating: value}, success: function (result) {
                }
            });
        });
    })
</script>
<script type="text/javascript" th:inline="javascript">
    function getPictureSize() {
        var numberOfPictures = [[${numberOfAuctionPictures}]];
        if (numberOfPictures > 1) {
            pictureDefaultSize.picturesListForSize(numberOfPictures);
        } else {
            pictureDefaultSize.defaultPictureSize(document.getElementById("picturesId"));
        }
    }
    setInterval(highestBidFunction, 5000);
    function highestBidFunction() {
        auctionViewJS.highestBid([[${auction.id}]], [[#{auction.view.bids}]], [[#{auction.view.highestBidder}]])
    }
    var count = [[${timeRemaining}]];
    setInterval(auctionTimer.timer, 1000);
</script>

<script src='https://www.google.com/recaptcha/api.js'></script>
<script th:src="@{/js/bootstrap star rating/star-rating.js}"
        type="text/javascript"></script>

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript"
        th:src="@{/js/enlarge-picture-fancyBox/jquery.mousewheel-3.0.6.pack.js}"></script>

<script type="text/javascript"
        th:src="@{/js/enlarge-picture-fancyBox/jquery.fancybox.pack.js?v=2.1.5}"></script>

<script type="text/javascript"
        th:src="@{/js/enlarge-picture-fancyBox/helpers/jquery.fancybox-buttons.js?v=1.0.5}"></script>
<script type="text/javascript"
        th:src="@{/js/enlarge-picture-fancyBox/helpers/jquery.fancybox-media.js?v=1.0.6}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            type: "image",
            afterLoad: function () {
                $.extend(this, {
                });
            }
        });
    });
</script>
<style>
    .fancybox-skin
    {
        -ms-transform: scale(2,2); /* IE 9 */
        -webkit-transform: scale(2,2); /* Safari */
        transform: scale(2,2); /* Standard syntax */
    }
</style>
<script th:inline="javascript">


    //        var firstPicImg;
    $(document).ready(function () {
        if ([[${removePicturesFromLocalStorage}]] != null)
            localStorage.removeItem("pictureLocalStorageList");
        if ([[${loggedInUserIsAuctionOwner}]]) {
            if (document.getElementById("link-for-invitation") != null) {
                document.getElementById("link-for-invitation").href = window.location.href + '/reinvite/' + $('#invitations option:first').val();
            }
        }
    });

    function invitationSelectionChanged() {
        if (document.getElementById("invitations").val()) {
            document.getElementById("invitations").style.visibility = "visible";
        }
        document.getElementById("link-for-invitation").href = window.location.href + '/reinvite/' + $('#invitations option:selected').val();
    }
</script>

<style>
    .img-thumbnail {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
</style>
