                        <b th:text="#{auction.view.type} + ' '">Type: </b><span
                            th:text="${auction.type}"></span><br />
                        <b
                                th:text="#{auction.starting.price} + ' '"></b><span
                            th:text="${auction.startingPrice}"></span><br/>
                        <b
                            th:text="#{auction.view.quantity} + ' '"></b><span
                            th:text="${auction.itemQuantity}" /><br /> <b
                            th:text="#{auction.view.auctionStarts}+ ' ' "></b><span
                            th:text="${#temporals.format(auction.startDate, 'yyyy-MM-dd HH:mm')}"></span><br />
                        <b th:text="#{auction.view.auctionEnds} + ' '"> </b><span
                            th:text="${#temporals.format(auction.endDate, 'yyyy-MM-dd HH:mm')}"></span><br />
                        <div th:replace="html/snippets/auction/view/startingPrice">...</div>
                        <div id="time-remaining" th:if="${timeRemaining &lt; 0}"
                            th:text="#{auction.view.timeRemainingEnded}">Auction has
                            ended</div>