<div class="col-md-10"
     th:if="${auction.link != null and !auction.link.toString().equals('')}">
    <h2>Link</h2>
    <a id="link" th:href="${auction.link}" target="_blank"
       th:text="${auction.link}"></a>
</div>