<div class="col-md-4" style="height: 400px; width: 400px">
    <a th:if="${numberOfAuctionPictures == 1 || numberOfAuctionPictures == 0}" class="fancybox {type: 'image'}"
       rel="gallery1"
       th:href="@{/auction/picture/{id}/0(id=${auction.id})}">
        <img
                th:src="@{/auction/picture/{id}/0(id=${auction.id})}"
                class="img-thumbnail" alt="" id="picturesId"/>
    </a>
    <div th:if="${numberOfAuctionPictures &gt; 1}" class="container">
        <div id="main_area">
            <!-- Slider -->
            <div class="row">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-4" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div
                                            th:each="pictureId : ${#numbers.sequence(0, numberOfAuctionPictures-1)}"
                                            th:class="${pictureId == 0 ? 'active item' : 'item'}"
                                            th:data-slide-number="${pictureId+1}">
                                        <a class="fancybox" rel="gallery1"
                                           th:href="@{/auction/picture/{id}/{pictureId}(id=${auction.id}, pictureId=${pictureId})}">
                                            <img
                                                    th:src="@{/auction/picture/{id}/{pictureId}(id=${auction.id}, pictureId=${pictureId})}"
                                                    class="img-thumbnail" alt=""
                                                    th:id="carouselPictureId + ${pictureId}"/>
                                        </a>
                                    </div>

                                </div>
                                <!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel"
                                   role="button" data-slide="prev"> <span
                                        class="glyphicon glyphicon-chevron-left"></span>
                                </a> <a class="right carousel-control" href="#myCarousel"
                                        role="button" data-slide="next"> <span
                                    class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            </div>
                        </div>

                        <div class="col-sm-4" id="carousel-text"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>