<div class="form-group"></div><!--rate-owner-->
<div th:if="${auctionOwner!=null}" class="auction-owner"
     th:text="${'Auction owner rating: ' + auctionOwner.name + ' ' + auctionOwner.surname + ' ( Rating: ' + (avarageRating == null ? ' not rated )' : avarageRating+' )')}">
    unknown
</div>
<form th:if="${!loggedInUserIsAuctionOwner}"
      th:action="@{/auction/{id}/ (id=${auction.id})}"
      th:object="${auctionBid}" method="post" class="form-horizontal"
      id="star-rating">
    <input id="rating-input-id" type="number" class="rating"
           data-size="xs"
           th:value="${givenRating == null ? '' : givenRating}"/>
</form>