<!--
<div class="starting-price">
    <b th:text="#{auction.view.startingPrice} + ' '"></b><span
        style="font-size: 150%" th:text="${(auction.currency.toString().equals('EUR') ? '€' : auction.currency)}"></span><br />
</div>-->
