/**
 * Vertical menu styles - Nordic Cool 3.0
*/

@import url("_variables.less");
@import url("_mixins.less");

.affix {
	top: -1px;
	padding: 0px;
	}

.affix-top.sidenav .nav > li:first-child > a  { padding-top: 12px; }

.sidenav {
	overflow: hidden;
	width: 100%;
	margin: 0px;
	padding: 0px;
	box-shadow: 3px 0 0 rgba(0, 0, 0, 0.03);

	.inner-scroll {
		.nav {
			margin: 0;
			border-width: 1px;
			border-style: solid;
			border-color: #c8c8c8 #dddede #c8c8c8 #c8c8c8;
			background: #f0f0f0;
			.box-shadow(-1px 0 0 #fff inset);
			}

		.nav .nav {
			display: none;
			margin: 0;
			padding-top: 5px;
			padding-bottom: 5px;
			border-width: 0 0 1px 0;
			background: #f0f0f0;
			.box-shadow(1px 0 0 #fff inset, -1px 0 0 #fff inset;);

			> li > a:after { display: none !important; }

			> li > a {
				min-height: 37px;
				padding: 12px 45px 10px 25px;
				border: 0px;
				background: transparent;
				.box-shadow(1px 0 0 #fff inset);

				&:hover {
					.flat-hover();
					border: 0px;
					.box-shadow(0px 1px 0 #ccebff inset, 0px -1px 0 #ccebff inset;);
					}
				}

			> li.active > a {
				color: #fff;
				background: @blue-bg;
				.box-shadow(none);
				}
			} /* .nav .nav */

		.nav > .active > .nav { display: block; }

		.nav > li {
			&:hover { cursor: pointer; }

			&:not(.show-nav) > a:after {
				display: block;
				content: '';
				position: absolute;
				top: 18px;
				right: 8px;
				width: 11px;
				height: 7px;
				opacity: 0.72;
				background: url(../img/arrow-large.svg);
				background-size: 62px 8px;
				background-position: -17px 0px;
				background-repeat: no-repeat;
				.transform(rotate(-90deg));
				}

			> a {
				padding: 12px 5px 11px 15px;
				border-bottom: 1px solid #d9d9d9;
				color: @base-color;
				line-height: 125%;
				text-decoration: none;

				.linear-gradient(#fafafa; #fafafa 0%, #f4f4f4 75%, #f8f8f8 100%);
				.box-shadow(-1px -1px 0 #fff inset, 1px 1px 0 #fff inset;);

				&:focus {
					outline: none;
					.linear-gradient(#f9f9f9; #f9f9f9 0%, #f4f4f4 75%, #f8f8f8 100%);
					.box-shadow(-2px -2px 0 @focus-border-color inset, 2px 2px 0 @focus-border-color inset;);
					}

				&:active {
					-webkit-box-shadow: none !important;
					-moz-box-shadow: none !important;
					box-shadow: none !important;
					}
				}

			> a:hover {
				border-bottom: 1px solid #d9d9d9;
				.linear-gradient(#f3faff; #f3faff 25%,#e4f0f7 90%);
				.box-shadow(-1px -1px 0 #f2faff inset, 1px 1px 0 #f2faff inset;);
				}
			
			&:last-child > a { border-width: 1px 1px 0; }
			
			&.active:last-child > a { border-width: 1px; }
			} /*.nav > li */

		> .nav > li {
			&.active:not(.active-child) > a {
				position: relative;
				border-bottom: 1px solid #0069a6;
				color: #fff;
				.linear-gradient(#0a82c7; #0a82c7 0%, #0975b5 65%, #0a81c6 100%);
				.box-shadow(0 -1px 0 #0069a6) !important;
				}

			&.active.active-child > a:after {
				/*top: 14px; */
				right: 11px;
				.transform(rotate(0deg));
				}		
				
			&.active:not(.active-child) > a:after {
				right: 11px;
				background-position: 0 0; 
				.transform(rotate(0deg));
				}	
			} /* /> .nav > li  */

		.nav.nav-one-level li {
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				.linear-gradient-horizontal(#e0e0e0; rgba(224,224,224,0.25) 0%, #e0e0e0 15%, #e0e0e0 85%, rgba(224,224,224,0.25) 100%);
				}

			 > a {
				border: 0;
				background: transparent;
				.box-shadow(-1px 0 0 #f2faff inset, 1px 0 0 #f2faff inset;);

				&:hover { .flat-hover(); }
				}

			&:first-child > a { .box-shadow(-1px 0 0 #f2faff inset, 1px 1px 0 0 #f2faff inset;); }

			&:nth-last-child(2):before { display: none; }

			&:last-child {
				&:before { display: none; }
				& > a {
					border-top: 1px solid #d9d9d9;
					.box-shadow(-1px -1px 0 #fff inset,1px 1px 0 #fff inset;);
					}
				}

			&.active {
				> a, > a:hover {
					border-bottom: 0;
					color: #fff;
					background: #0974b3;
					.box-shadow(0 -1px 0 #0069a6, 0 -1px 0 #0069a6 inset;) !important;
					}
				}
				
			> a:after {
				display: none;
				background: none;
				}
				
			&.show-nav > a {
				background: #f0f0f0;
				}
			}
		} /* /.inner-scroll */
	} /* .sidenav */
	
	
/* Badge */
.sidenav li {
	a {
					
		.badge, .label {
			position: absolute;
			top: 11px;
			right: 30px;
			padding: 2px 7px 0;
			}
		}
	&.active:not(.active-child) > a {
		.badge, .label {
			.badge-primary-bg();
			padding: 3px 7px 0;
			}
		}
	}

/* Sub-menu expands on click - without scrollspy */
.vertical-sidebar .dropdown-submenu.open .nav { display: block; }

.vertical-sidebar .dropdown-submenu > .dropdown-menu {
	float: none;
	position: relative;
	width: 100%;
	}

.vertical-sidebar .dropdown-submenu.open > a {
	border-bottom: 1px solid #17608b;
	background: transparent;
	}

.vertical-sidebar .dropdown-submenu.open > a .nav-caret { background-position: -60px -1px; }

.vertical-sidebar .dropdown-submenu .nav a {
	color: #fff;
	&:hover {
		background: rgba(255, 255, 255, 0.1);
		.box-shadow(none);
		}
	}


/* Vertical menu - slides from the left - show/hide vertical menu */
#contentPushRight-oneLvl.col-md-12,
#contentPushRight-multiLvl.col-md-12 {
	width: 100%;
	}

.cbp-spmenu {
	.show-nav {
		position: fixed;
		bottom: 5%;
		left: -1.5%;
		width: 75px;
		text-indent: -9999px;
		z-index: 100;

		> a:after { display: none; }

		> a:before {
			content:'';
			position: absolute;
			top: 8px;
			right: 9px;
			width: 24px;
			height: 24px;
			background: url(../img/vismaicons/action-icons/24_collapse.svg) no-repeat left top;
			.transform(rotate(180deg));
			}

		> a:hover:before { background-position: -58px 0px; }
		
		> a { border-width: 1px !important; }
		}
		
	.nav-one-level > li.show-nav {
		> a { 
			border-width: 1px !important; 
			border-style: solid !important; 
			border-color: #d9d9d9 #dddede #c8c8c8 !important; 
			background: #f0f0f0 !important; 
			}  
		}
	}

.cbp-spmenu-open {
	&.cbp-spmenu .show-nav {
		border-right: 0px;
		box-shadow: none;
		position: relative;
		left: auto !important;
		bottom: auto;
		width: 100%;

		> a:after { display: none !important; }

		> a:before {
			.transform(rotate(0deg));
			}

		> a {
			border-width: 0 0 0 1px !important;
			}
		}
		
	&.cbp-spmenu .nav-one-level > li.show-nav {
		> a { 
			border-width: 1px 0 0 0 !important; 
			//border-style: solid;
			//border-color: #d9d9d9 #dddede #c8c8c8;
			//background: #f0f0f0 !important; 
			}
		}
	}
	


.cbp-spmenu:not(.cbp-spmenu-open) .show-nav > a {
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #dddede;
	border-bottom: 1px solid #c8c8c8;
	}

.cbp-spmenu {
	position: absolute;
	left: -30%;
	}

.cbp-spmenu-open.cbp-spmenu {
	position: relative;
	left: 0px;
	height: 100vh;
	}


/* Transitions */
.cbp-spmenu,
.cbp-spmenu-open.cbp-spmenu {
	.transition(all 0s ease);
	}

/* Vertical menu hidden scroll bar */
.ie11 {
	.sidenav .inner-scroll > .nav > li:not(.active-child).active > a { .box-shadow(0px -2px 0px #0069a6); }
	.sidenav .inner-scroll .nav .nav { .box-shadow(none); }
	}
/* /Vertical menu hidden scroll bar */


/* Responsiveness */
@media(max-width: 1440px){
	.sidenav .inner-scroll .nav > li.show-nav { left: -2.5%; }
}

@media(max-width: 992px){
	.affix { position: relative; }
	.cbp-spmenu-open.cbp-spmenu { height: auto !important; }
	.sidenav .inner-scroll .nav > li.show-nav { display: none; }
	.affix-top .inner-scroll, .affix .inner-scroll {
		width: 100%;
		padding-right: 0;
		}
}

@media(max-width: 769px){
	.cbp-spmenu-open.cbp-spmenu, .affix .inner-scroll, .affix-top .inner-scroll { height: auto; }
	.cbp-spmenu { padding: 0; }
	.cbp-spmenu-push .cbp-spmenu{
		padding-right: 20px;
		padding-left: 20px;
		}
}
