<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Seli Auction</title>
</head>

<body>

<div layout:fragment="content">
    <div class="col-md-12">
        <div class="col-md-6 col-md-push-2">
            <img class="img-rounded" src="/css/img/vismadude.png" width="300"/>
        </div>
        <div class="col-md-4 text-center">
            <div th:if="${exception == null}">
                <h2>Looks like something went <b>terribly</b> wrong!</h2>
                <p>But don't panic - it happens to the best of us.</p>
                <p>Keep it up and use one of the following links: </p>
            </div>
            <h2 class="helpLinks" th:if="${exception}" th:text="${exception.message}"></h2><br/><br/><br/>
            <div class="helpLinks">
                <p><a th:href="@{/}">Home</a></p>
                <p><a th:href="@{/createAuction}">Create auction</a></p>
                <p><a th:href="@{/auctions/auctions-by-type/{type}/{sort}/1(type='ALL', sort='by-end-date')}">View
                    auctions</a></p>
                <p><a th:href="@{/report-bug}">Report a bug</a> </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>