<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:display="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">

<head>
    <title>Seli Auction</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
</head>
<body>

<div layout:fragment="content">

    <div class="row center-form">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Registration
                </div>
                <div class="panel-body">
                    <form th:action="@{/googleRegistration}" th:object="${user}" method="post" class="new-task-form">
                        <table class="center">
                            <tr>
                                <td>Name:</td>
                                <td><input type="text" class="new-post-title" th:field="*{name}"
                                           th:placeholder="#{registration.name}" th:errorclass="field-error" disabled="disabled"/></td>
                                <td><input type="text" class="new-post-title" th:field="*{name}"
                                           th:placeholder="#{registration.name}" th:errorclass="field-error" style="display: none;"/></td>
                                <td>
                                    <div th:if="${#fields.hasErrors('name')}" class="error-message"
                                         th:errors="*{name}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Surname:</td>
                                <td><input type="text" class="new-post-title" th:field="*{surname}"
                                           th:placeholder="#{registration.surname}" th:errorclass="field-error"  disabled="disabled"/></td>
                                <td><input type="text" class="new-post-title" th:field="*{surname}"
                                           th:placeholder="#{registration.surname}" th:errorclass="field-error" style="display: none;"/></td>
                                <td>
                                    <div th:if="${#fields.hasErrors('surname')}" class="error-message"
                                         th:errors="*{surname}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td><input type="text" class="new-post-title" th:field="*{email}"
                                           th:placeholder="#{registration.email}" th:errorclass="field-error"
                                           disabled="disabled"/></td>
                                <td><input type="text" class="new-post-title" th:field="*{email}"
                                           th:placeholder="#{registration.email}" th:errorclass="field-error"
                                           style="display: none;"/></td>
                                <td>
                                    <div th:if="${#fields.hasErrors('email')}" class="error-message"
                                         th:errors="*{email}"/>
                                </td>
                            </tr>
                            <!--<tr>
                                <td>Phone:</td>
                                <td><input id="phoneCode" type="text" value="+370" disabled="true"/><input type="text" class="new-post-title" th:field="*{phone}"
                                           th:placeholder="#{registration.phone}" th:errorclass="field-error"/></td>
                                <td>
                                    <div th:if="${#fields.hasErrors('phone')}" class="error-message"
                                         th:errors="*{phone}"/>
                                </td>
                            </tr>-->
                            <tr>
                                <td>
                                    <input th:field="*{userType}" th:type="hidden"/>
                                </td>
                            </tr>
                        </table>
                        <br/>
                        <div class="panel-footer">
                            <td>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/logout}" th:text="#{home.back}">Go back</a>
                            </td>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>