<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Report Bug</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/reportbug.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Report a bug</div>
            <form th:action="@{/report-bug}" th:object="${reportBug}"
                  enctype="multipart/form-data" method="post" class="form-horizontal">
                <div class="panel-body">
                    <table class="center report-bug-td-required">
                        <tr>
                            <td class="report-bug-td-required ">Subject</td>
                            <td class="report-bug-td">
                                <input type="text" id="subject" name="subject" ng-model="vm.ticket.subject"
                                       th:field="*{subject}"
                                       ng-maxlength="200" size="58" data-test-id="support-form-subject-input"
                                       th:required="required"/>
                                <div th:if="${#fields.hasErrors('subject')}" class="error-message"
                                     th:errors="*{subject}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>Message</td>
                            <td class="report-bug-td">
                    <textarea id="message" name="message" ng-model="vm.ticket.message" ng-maxlength="5000" rows="5"
                              cols="60"
                              data-test-id="support-form-message-input" th:required="required"
                              th:field="*{text}"></textarea>
                                <div th:if="${#fields.hasErrors('text')}" class="error-message"
                                     th:errors="*{text}"></div>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-primary report-bug-send-button" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>