<div class="form-group">
    <label for="auction-type" class="col-sm-3 control-label">Auction type:</label>
    <div class="col-sm-1">
        <span th:value="PUBLIC">PUBLIC</span>
    </div>
    <select th:field="*{type}" hidden="hidden">
        <option value="PUBLIC" hidden="hidden">Public</option>
    </select>
</div>


<div class="form-group" th:if="false">
    <label for="auction-type" class="col-sm-3 control-label">Auction
        type:</label>
    <div class="col-sm-1">
        <select id="auction-type">
            <option value="PUBLIC">Public</option>
            <option value="PRIVATE">Private</option>
        </select>
    </div>
    <!--<td><div id="auction-type2" th:field="*{type}">hiii</div></td>-->
    <select id="auction-type2" th:field="*{type}" hidden="hidden">
        <option value="PUBLIC" hidden="hidden">Public</option>
        <option value="PRIVATE" hidden="hidden">Private</option>
    </select>
</div>