<div class="form-group" id="allowBuyOutRow" th:if="false">
    <label for="allowBuyOut" class="col-sm-3 control-label">Allow
        to buy out</label>
    <div class="col-sm-8">
        <input id="allowBuyOut" type="checkbox"
               th:field="*{allowBuyOut}"/>
        <div th:if="${#fields.hasErrors('allowBuyOut')}"
             class="error-message" th:errors="*{allowBuyOut}"/>
    </div>
</div>
<div class="form-group" style="display: none" id="buyOutForm" th:if="false">
    <label for="buyOutPrice" class="col-sm-3 control-label">Buy
        out pricse:<br/>
    </label>
    <div class="col-sm-8">
        <input id="buyOutPrice" type="number"
               onblur="auctionCreateMain.calculateTotalPrice();" th:field="*{buyOutPrice}"
               th:placeholder="#{auction.buyOut.price}"
               th:errorclass="field-error"/>
        <div th:if="${#fields.hasErrors('buyOutPrice')}"
             class="error-message" th:errors="*{buyOutPrice}"></div>
    </div>
</div>