<div class="form-group">
    <label for="changeOnType1" class="col-sm-3 control-label">Currency:</label>
    <div class="col-sm-1">
        <span id="changeOnType1" th:value="KUDOS">
            KUDOS
        </span>
    </div>
    <select th:field="*{currency}" th:hidden="hidden">
        <option value="KUDOS" th:hidden="hidden">KUDOS</option>
    </select>

</div>

<div class="form-group" th:if="false">
    <label for="changeOnType" class="col-sm-3 control-label">Currency:</label>
    <div class="col-sm-1">
        <select id="changeOnType" th:field="*{currency}"
                onchange="editAuctionMain.changeStartingPriceSteps(); auctionCreateMain.showOrHideBuyoutDependingOnCurrency();">
            <option th:value="EUR">EUR</option>
            <option th:value="KUDOS">KUDOS</option>
        </select>
    </div>
    <div th:if="${#fields.hasErrors('currency')}"
         class="error-message" th:errors="*{currency}" id="currencyError"></div>
</div>