<div class="form-group required">
    <label for="datetimepicker2" class="col-sm-3 control-label">Start
        date:</label>
    <div class="col-sm-8">
        <div class='input-group date' id='datetimepicker2'>
            <input type='text' class="form-control" id="startdate"
                   th:field="*{startDate}" th:placeholder="#{auction.start.date}"
                   th:errorclass="field-error"/>
            <span class="input-group-addon"> <span
                    class="glyphicon glyphicon-calendar"></span>
                                </span>
        </div>
        <div th:if="${#fields.hasErrors('startDate')}"
             class="error-message" th:errors="*{startDate}" id="startDateError"></div>
    </div>
</div>

<div class="form-group required">
    <label for="datetimepicker3" class="col-sm-3 control-label">End
        date:</label>
    <div class="col-sm-8">
        <div class='input-group date' id='datetimepicker3'>
            <input type="text" class="form-control" id="enddate"
                   th:field="*{endDate}" th:placeholder="#{auction.end.date}"
                   th:errorclass="field-error"/>
            <span class="input-group-addon"> <span
                    class="glyphicon glyphicon-calendar"></span>
                                </span>
        </div>
        <div th:if="${#fields.hasErrors('endDate')}"
             class="error-message" th:errors="*{endDate}" id="endDateError"></div>
    </div>
</div>
<div th:replace="html/snippets/auction/create/invitation">...</div>
<div class="form-group" id="all-pictures">
    <label for="add-picture" class="col-sm-3 control-label">Select
        <br/>picture to add:
    </label>
    <div class="col-sm-8">
        <input
                id="add-picture" type="file" onchange="addRemovePicture.addNewPicture();"
                th:placeholder="#{auction.pictureFiles}"
                accept=".jpg, .png, .jpeg"/>

    </div>
</div>
<div class="form-group" id="added-pictures" style="visibility: hidden;">
    <label class="col-sm-3 control-label">Added pictures: </label>
    <div class="col-sm-1" id="picture-name-list">
    </div>
</div>
<br/>
<div style="visibility: hidden" id="auction-picture-uuid-list">
    <select id="uuidList" th:field="*{listOfPhotosUUUID}">

    </select>
</div>
<div id="list-div-tmp"></div>
<div class="panel-footer center-form">

    <button class="btn btn-primary" onclick="addRemovePicture.removeEmptyFields();checkTime();"
            type="submit">Submit
    </button>

    <a class="btn btn-default" th:href="@{/}" th:text="#{home.back}">Go
        back</a>
</div>
