<div class="form-group" id="all-emails">
	<label for="EmailId" class="col-sm-3 control-label">Invite
		people <br /> to auction
	</label>
	<div class="col-sm-8">
		<input th:each="invitation, iterStat : ${auction.invitations}"
			th:field="*{invitations[__${iterStat.index}__].email}"
			th:placeholder="#{auction.invitedEmail}" th:errorclass="field-error"
			th:name="${'invitations[' + iterStat.index + '].email'}"
			style="display: none" /> <input placeholder="Email" type="email"
			th:name="*{invitations == null ? 'invitations[0].email' : 'invitations[' + invitations.size() + ']'}" />
		<div th:if="${#fields.hasErrors('invitations')}" class="error-message"
			th:errors="*{invitations}"></div>
		<button type="button" id="add" class="col-sm-3"
			onclick="invitation.addNewEmail(); invitation.showInvList();">Add</button>

		<button type="button" id="remove" class="col-sm-4"
			onclick="invitation.removeFromList(); invitation.hideInvList()">Remove all</button>
	</div>
</div>
<div class="form-group" id="invited-emails"
	th:style="${auction.invitations == null ? 'visibility: hidden' : ''}">
	<label class="col-sm-3 control-label">Invited people: </label>
	<div class="col-sm-1">
		<ul id="invitations">
		</ul>
	</div>
</div>