                    <div class="form-group required">
                        <label for="startingPrice" class="col-sm-3 control-label">Starting
                            price:</label>
                        <div class="col-sm-8">
                            <input id="startingPrice" type="number"
                                   onblur="auctionCreateMain.calculateTotalPrice();" th:field="*{startingPrice}"
                                    th:placeholder="#{auction.starting.price}"
                                   th:errorclass="field-error"/>
                            <div th:if="${#fields.hasErrors('startingPrice')}"
                                 class="error-message" th:errors="*{startingPrice}" id="startingPriceError"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="allowToBidForQuantityInput"
                               class="col-sm-3 control-label">Allow to bid for <br/>
                            specific quantity:
                        </label>
                        <div class="col-sm-8">
                            <input id="allowToBidForQuantityInput" type="checkbox"
                                   th:field="*{allowToBidForQuantity}"/>
                            <div th:if="${#fields.hasErrors('allowToBidForQuantity')}"
                                 class="error-message" th:errors="*{allowToBidForQuantity}"/>
                        </div>
                    </div>
                    <div class="form-group" style="display: none" id="ItemQuantityRow">
                        <label for="itemQuantity" class="col-sm-3 control-label">Item
                            quantity:</label>
                        <div class="col-sm-8">
                            <input id="itemQuantity" type="number"
                                   th:field="*{itemQuantity}"
                                   th:placeholder="#{auction.item.quantity}"
                                   th:errorclass="field-error" onblur="auctionCreateMain.calculateTotalPrice();"/>
                            <div th:if="${#fields.hasErrors('itemQuantity')}"
                                 class="error-message" th:errors="*{itemQuantity}"></div>
                        </div>
                    </div>