<div class="form-group required">
    <label for="title" class="col-sm-3 control-label">Title:</label>
    <div class="col-sm-8">
        <input type="text" id="title" th:field="*{title}"
               th:placeholder="#{auction.title}" th:errorclass="field-error"/>
        <div th:if="${#fields.hasErrors('title')}" class="error-message" th:errors="*{title}" id="titleError"></div>
    </div>
</div>

<div class="form-group required">
    <label for="description" class="col-sm-3 control-label">Description:</label>
    <div class="col-sm-8">
                                <textarea rows="5" class="form-control" cols="25"
                                          id="description" th:field="*{description}"
                                          th:placeholder="#{auction.item.description}"
                                          th:errorclass="field-error"></textarea>
        <div th:if="${#fields.hasErrors('description')}"
             class="error-message" th:errors="*{description}" id="descriptionError"></div>
    </div>
</div>

<div class="form-group">
    <label for="description-link" class="col-sm-3 control-label">Link for description:</label>
    <div class="col-sm-8">
        <input type="text" id="description-link" th:field="*{link}"
               th:placeholder="#{auction.link}" th:errorclass="field-error"/>
    </div>
</div>