                    <div class="form-group">
                        <label class="col-sm-3 control-label">Total starting
                            price:</label>
                        <div class="col-sm-8">
                            <input readonly="readonly" type="number" id="totalPrice"/>
                        </div>
                    </div>